@import "../../Config/base-import";

/*
	overall.scss partial -	Navigation
*/


@mixin navMenuIconOverride($html-entity) {
	> .menuitemlabel > .mil:before {
		content: $html-entity;
	}
}

.primary-nav {
	.menu {
		@include resetMenu;
	}

	.menuitemlabel {
		text-decoration: none;
		display: block;
		padding: 5px;
	}

	.menu-t1 {
		> .mi {
			&.mi-open {
				.menu-t2 {
					display: block;
				}
			}

			& + .mi {
				border-top: 1px solid darken($color-blue, 5%);
			}

			> .menuitemlabel {
				background-color: $color-blue;
				color: $color-white;
				font-family: $font-open-sans-semi-bold;
				font-size: 15px;

				&:hover {
					background-color: $color-light-blue;
				}

				> .mil {
					@include buttonGlyphAdd($html-entity-gear, 32px, $color-white);
				}
			}


			&.nav-dashboard {
				@include navMenuIconOverride($html-entity-dashboard);
			}
			&.nav-cms {
				@include navMenuIconOverride($html-entity-cms);
			}
		}
	}

	.menu-t2 {
		display: none;
		background-color: $color-smokey-white;

		> .mi {
			&.mi-active {
				> .menuitemlabel {
					background-color: darken($color-smokey-white, 5%);
				}
			}

			> .menuitemlabel {
				color: $color-default-site-font;

				&:hover {
					background-color: darken($color-smokey-white, 5%);
				}

				> .mil {
					@include buttonGlyphAdd($html-entity-gear, 32px, $color-dark-grey);
				}
			}

			&.nav-site {
				@include navMenuIconOverride($html-entity-site);
			}
			&.nav-page {
				@include navMenuIconOverride($html-entity-page);
			}
			&.nav-template {
				@include navMenuIconOverride($html-entity-template);
			}
			&.nav-layout {
				@include navMenuIconOverride($html-entity-layout);
			}
			&.nav-article {
				@include navMenuIconOverride($html-entity-article);
			}
			&.nav-photo-album {
				@include navMenuIconOverride($html-entity-photos);
			}
			&.nav-file-system {
				@include navMenuIconOverride($html-entity-file-system);
			}
			&.nav-component {
				@include navMenuIconOverride($html-entity-component);
			}

		}
	}
}

