@import "../../Config/base-import";

/*
	overall.scss partial -	Structure
*/

$app-controls-width: 250px;

$header-height: 200px;
$footer-height: 55px;

.e-app-controls {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: $app-controls-width;
	background-color: $color-dark-blue;
	z-index: 200;
	@include box-shadow(0 0 5px transparentize($color-black, 0.7));
}

.l-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	padding: 10px;

	.site-logo {
		text-align: center;
		margin: 0 0 10px;
	}
}

.l-nav {
	position: absolute;
	top: $header-height;
	left: 0;
	right: 0;
	bottom: $footer-height;
	background-color: $color-blue;
	overflow-y: auto;
}

.l-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $footer-height;
	@include clearfix;

	.footer-user {
		display: table;
		height: 100%;
		width: 100%;

		.user-image {
			width: 30px;
			text-align: center;
		}

		.user-name {
			color: $color-white;
			padding-left: 5px;
			padding-right: 5px;
			font-size: 14px;
		}

		.actions {
			white-space: nowrap;
			width: 1%;
		}

		.btn-glyph {
			&.profile {
				&:before {
					@include glyphAdd($html-entity-profile, 24px, $color-white);
				}
			}
		}

		.btn {
			&.preferences {
				@include buttonGlyphOnly($html-entity-gear, 24px, $color-white);
				margin-right: 5px;
			}
			&.logout {
				@include buttonGlyphOnly($html-entity-logout, 24px, $color-white);
				margin-right: 5px;
			}
		}
	}

	.footer-user-group {
		display: table-cell;
		vertical-align: middle;
	}
}

.e-app-content {
	background-color: $color-almost-white;
	margin-left: $app-controls-width;
	padding: 20px;
	min-height: 100.00%;
}

.l-primary-content {
	@include style-inline-box();

	#t-no-content-styles & {
		background-color: transparent;
		border: 0 none;
		padding: 0;
	}
}

.page-heading {
	margin-bottom: 15px;

	h1 {
		margin: 0;
	}
}