@import "../../Config/base-import";

.file_tree {
	.dnd-source {
		&:hover {
			td.file_tree_name_col {
				background: none;
			}
		}

		td.file_tree_name_col {
			padding: 0;
		}
	}

	td.file_tree_name_col {
		white-space: nowrap;
	}

	a.fse_selected_folder {
		background-color: $color-cornsilk;
	}

	.fse_icon_name {
		.btn-image {
			margin-left: 2px;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

.file_tree_action_toolbar  {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 15px;

	.btn {
		&.action_updir {
			@include buttonGlyphAdd($html-entity-folder-up);
		}
		&.action_upload {
			@include buttonGlyphAdd($html-entity-upload);
		}
		&.action_download {
			@include buttonGlyphAdd($html-entity-download);
			margin-right: 5px;
		}
	}
}

.file_tree_extra_toolbar {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;

	.label {
		@include style-form-label;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	input[type=text] {
		margin-right: 5px;
	}
}

.file_table {
	tr {
		td.control {
			padding-right: 5px;
		}
	}

	.fse_icon_name {
		.btn-image {
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

.change_storage {
	.title {
		@include style-h2;
		margin-bottom: 15px;
	}

	.button_container {
		margin-top: 10px;
	}
}

.file_rename_container {
	.file_rename_title {
		@include style-h2;
		display: block;
		margin-bottom: 15px;
	}

	.file_rename_entry {
		margin: 5px 0;

		.label {
			@include style-form-label;
			margin-right: 5px;
		}

		.rc_existing_name-con {
			padding-right: 20px;
			min-width: 150px;
		}

		.rc_existing_name {
			@include style-form-input-readonly;
		}

		.rc_new_name-con {
			input {
				width: 200px;
			}
		}
	}

	.button_container {
		margin-top: 10px;
	}
}