@import "../../Config/base-import";

.pe-mgt {

	.entity-actions {
		float: none;
		margin-bottom: 5px;
	}

	//add component menu
	.add-pe-button {
		> .menu_item {
			//fixme add class of btn to this thing
			@include buttonBase;
			@include buttonGlyphAdd($html-entity-add);
		}

		img {
			height: 16px;
			width: 16px;
			vertical-align: top;
			padding-right: 3px;
			margin-top: -1px;
		}

		ul.menu_items {
			background-color: $color-white;
			@include box-shadow(1px 1px 4px transparentize($color-black, 0.7));
			padding: 10px 0;
			top: 100%;
			border: 1px solid $color-light-grey;

			ul.menu_items {
				max-height: 300px;
				overflow-y: auto;
			}
		}

		li.menu {
			a.menu_item,
			span.menu_item {
				display: block;
				width: auto;
				padding: 5px 20px;
				color: $color-default-site-font;

			}

			&:hover {
				> a.menu_item,
				> span.menu_item {
					background-color: $color-cloud-grey;
				}
			}
		}

		ul {
			li.menu {
				white-space: nowrap;
				width: auto;
			}
		}

		li.deprecated {
			text-decoration:line-through;
		}
	}

	.pager-search-results {

		.btn {
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
		}
	}
}

.workspace-actions {
	margin-bottom: 5px;

	.btn {
		&.show-hide-btn {
			@include buttonGlyphAdd($html-entity-branch-open);

			&.shown {
				@include buttonGlyphOverride($html-entity-branch-close);
			}
		}
	}
}

.search {
	.entity-actions {
		.btn {
			&.import {
				@include buttonGlyphAdd($html-entity-upload);
			}
			&.add {
				@include buttonGlyphAdd($html-entity-add);
			}
		}
	}

	.search-bar {
		margin: 10px 0;
	}

	.action-column {
		.btn {
			&.edit {
				@include buttonStyleEditGlyph();
			}
			//fixme need class on delete button
			&:nth-child(2) {
				@include buttonStyleDeleteGlyph();
			}
		}
	}
}

.uitask-manager-con {
	margin: 10px 0;
}

.request_path_editor {
	.title {
		margin-top: 0;
		margin-bottom: 5px;
		float: left;
		@include style-h3;
	}

	.entity_actions {
		margin-bottom: 5px;
	}

	> .search {
		margin-top: 10px;
	}

	.btn {
		&.add {
			@include buttonGlyphAdd($html-entity-add);
		}
		&.edit {
			@include buttonStyleEditGlyph();
		}
		&.delete {
			@include buttonStyleDeleteGlyph();
		}
	}
}

.data-import-settings {
	@include style-inline-box();

	.help-point.cms-component {
		float: right;
	}

	.import-title {
		@include style-h2;
		margin-bottom: 10px;
		display: block;
	}

	.instructions {
		@include style-message-warning;
	}

	.supported-columns {
		margin: 10px 0;
	}

	.prop,
	.fail-import-on-error,
	.component-name-expression,
	.csv-file {
		margin: 5px 0;
	}

	label {
		@include style-form-label;
		display: inline-block;
		width: 200px;
	}

	.component-name-expression {
		input {
			width: 350px;
		}
	}

	.destination-directory {
		.actions {
			margin-left: 5px;
		}
	}

	> .actions {
		margin-top: 15px;

		.btn {
			//fixme get class added
			&:first-child {
				@include buttonGlyphAdd($html-entity-success);
			}
			&.cancel {
				@include buttonGlyphAdd($html-entity-cancel);
			}
		}
	}
}