@import "../Config/base-import";

h2 {
	margin-bottom: 5px;
}

div.message {
	padding: 15px;

	&:before {
		display: none;
	}
}

.dashboard-coming {
	background: center center $color-dark-blue themeDesignResourceUrl('/Dashboard/dashboard-noanalytics-bg.jpg') no-repeat;
	background-size: cover;
	height: 375px;

	.coming-text {
		color: $color-white;
		font-size: 24px;
		text-align: center;
		padding-top: 150px;
		font-family: $font-open-sans-bold;
		text-shadow: 0 0 3px transparentize($color-black, 0.8);
	}
}

.videos {
	margin: 0 -5px;
}

.video {
	display: inline-block;
	vertical-align: top;
	width: 50%;

	a {
		display: block;
		margin: 0 5px 10px;
		border: 3px solid $color-dark-grey;
		@include transition(all 250ms);
		text-decoration: none;

		&:hover {
			border-color: $color-blue;

			.overlay {
				border-color: $color-blue;
				background-color: $color-dark-blue;
				width: 70px;
				height: 70px;
				border-width: 10px;
			}

			.info {
				background-color: $color-blue;
			}
		}
	}

	.thumbnail {
		width: 100%;
		height: 180px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		position: relative;

		.overlay {
			border: 5px solid $color-darker-grey;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			display: block;
			background-color: $color-light-charcoal;
			position: absolute;
			left: 50%;
			top: 50%;
			@include transform(translateX(-50%) translateY(-50%));
			@include transition(all 150ms);

			&:before {
				@include glyphAdd($html-entity-play, $size: 24px, $color: $color-white);
				position: absolute;
				left: 50%;
				top: 50%;
				@include transform(translateX(-40%) translateY(-50%));
			}
		}
	}

	.info {
		background-color: $color-light-charcoal;
		color: $color-white;
		padding: 10px;
		@include transition(all 250ms);
	}

	.title {
		font-family: $font-open-sans-semi-bold;
		font-size: 16px;
	}

	.length {
		font-family: $font-open-sans-italic;
		font-size: 12px;
	}

	@include breakpoint($bp-desktop) {
		width: 25%;
	}
}