@import "../Config/base-import";

h2 {
	margin-bottom: 5px;
}

.dashboard-charts {
	position: relative;
	@include clearfix;

	&.loading {
		min-height: 300px;
		@include style-inline-box();
		margin: 0;
	}

	.loading-status {
		margin-left: -10px;
		margin-right: -10px;
	}

	.dashboard-charts-box {
		display: none;
		margin-left: -10px;
		margin-right: -10px;

		&.visible {
			display: block;
		}
	}
}

.l-primary-content {
	.loading {
		.loading-status {
			display: block;
			text-align: left;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.loading-status-label + .loading-status-icon {
			margin-top: 10px;
		}

		.loading-status-icon {
			margin: 0 auto;

			.smil & {
				@include loading-circle-spinner;
			}

			.no-smil & {
				@include loading-circle-spinner-nosmil;
			}
		}
	}

	.loading-status {
		display: none;
	}
}


.chart {
	position: relative;
	padding: 10px;

	&.loading {
		.chart-inner {
			min-height: 200px;
		}
	}

	&.chart-box-half {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	&:first-child {
		padding-top: 0;
	}

	.chart-inner {
		@include style-inline-box($padding: 0);
	}

	.chart-heading {
		@include style-h3;
		padding: 5px 10px;
		background-color: $color-blue;
		color: $color-white;
	}
}

.dashboard-coming {
	background: center center $color-dark-blue themeDesignResourceUrl('/Dashboard/dashboard-noanalytics-bg.jpg') no-repeat;
	background-size: cover;
	height: 375px;

	.coming-text {
		color: $color-white;
		font-size: 24px;
		text-align: center;
		padding-top: 150px;
		font-family: $font-open-sans-bold;
		text-shadow: 0 0 3px transparentize($color-black, 0.8);
	}
}

.dashboard-charts {
	.dashboard-config-ui {
		background: center center $color-dark-blue themeDesignResourceUrl('/Dashboard/dashboard-noanalytics-bg.jpg') no-repeat;
		background-size: cover;
		height: 375px;
		margin: 0;
	}
}

.dashboard-config {
	text-align: center;

	.dashboard-config-title {
		color: $color-white;
		font-size: 24px;
		text-align: center;
		padding-top: 150px;
		font-family: $font-open-sans-bold;
		text-shadow: 0 0 3px transparentize($color-black, 0.8);
	}

	.dashboard-config-options {
		display: inline-block;
		padding: 10px;
		white-space: nowrap;
	}

	.config-option {
		display: inline-block;
		margin: 0 5px;

		.btn {
			font-size: 18px;
			@include buttonColors($color-bg: $color-green, $color-text: $color-white);

			&.btn-glyph-pdf {
				@include buttonGlyphAdd($html-entity-page, $size: 20px);
			}
			&.btn-glyph-video {
				@include buttonGlyphAdd($html-entity-play, $size: 20px);
			}
		}
	}
}

//fix for google visualization table
.gapi-analytics-data-chart {
	.gapi-analytics-data-chart-styles-table-th {
		white-space: nowrap;
	}
}

.videos {
	margin: 0 -5px;
}

.video {
	display: inline-block;
	vertical-align: top;
	width: 50%;

	a {
		display: block;
		margin: 0 5px 10px;
		border: 3px solid $color-dark-grey;
		transition: all 250ms;
		text-decoration: none;

		&:hover {
			border-color: $color-blue;

			.overlay {
				border-color: $color-blue;
				background-color: $color-dark-blue;
				width: 70px;
				height: 70px;
				border-width: 10px;
			}

			.info {
				background-color: $color-blue;
			}
		}
	}

	.thumbnail {
		width: 100%;
		height: 180px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		position: relative;

		.overlay {
			border: 5px solid $color-darker-grey;
			border-radius: 50%;
			width: 50px;
			height: 50px;
			display: block;
			background-color: $color-light-charcoal;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			transition: all 150ms;

			&:before {
				@include glyphAdd($html-entity-play, $size: 24px, $color: $color-white);
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-40%) translateY(-50%);
			}
		}
	}

	.info {
		background-color: $color-light-charcoal;
		color: $color-white;
		padding: 10px;
		transition: all 250ms;
	}

	.title {
		font-family: $font-open-sans-semi-bold;
		font-size: 16px;
	}

	.length {
		font-family: $font-open-sans-italic;
		font-size: 12px;
	}

	@include breakpoint($bp-desktop) {
		width: 25%;
	}
}