@import "../../../Config/base-import";

/*
	overall.scss partial -	Navigation
*/

.mCSB_inside > .mCSB_container {
	margin-right: 0;
}

.mCSB_scrollTools {
	opacity: 1;
	width: 20px;

	.mCSB_dragger {
		&:hover,
		&:active,
		&.mCSB_dragger_onDrag {
			.mCSB_dragger_bar {
				opacity: 1;
				background-color: transparentize($color-black, 0.4);
			}
		}

		.mCSB_dragger_bar {
			background-color: transparentize($color-black, 0.75);
			width: 5px;
			margin-left: auto;
			margin-right: 5px;
		}

	}

	.mCSB_draggerRail {
		background-color: transparent;
		opacity: 1;
	}
}