@import "../../Config/_base-import";

.catalog_mgt {

}


.table_view {
	.btn {
		&.edit_button {
			@include buttonStyleEditGlyph();
		}
		&.delete_button {
			@include buttonStyleDeleteGlyph();
		}
	}
}

.catalog_editor {

	//fixme get catalog properties tab a classname
	label {

		&.tbl {
			@include style-form-label;
			margin-right: 5px;
		}


	}

	.ctb {
		input[type=checkbox] {
			margin-right: 5px;
		}
	}

	.catalog_node_name {
		@include style-h3;
		display: block;
		margin-bottom: 10px;
	}

	.current_name {
		margin: 10px 0;

		> label {
			@include style-form-label;
		}

		div.select {
			border: 1px solid $color-lighter-grey;
		}
	}

	div.select,
	.catalog_object_editor {
		@include clearfix;
		text-align: right;
		padding: 5px;
		background-color: $color-almost-white;

		&:hover {
			background-color: $color-cornsilk;
		}

		.btn {
			&.edit {
				@include buttonStyleEditGlyph();
			}
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
			&.move_up {
				@include buttonGlyphOnly($html-entity-move-up);
			}
			&.move_down {
				@include buttonGlyphOnly($html-entity-move-down);
			}
			&.action-top {
				@include buttonGlyphOnly($html-entity-move-top);

				//fixme this needs fixing
				+ .move_down {
					display: none;
				}
			}
			&.action-bottom {
				@include buttonGlyphOnly($html-entity-move-bottom);
			}
			&[disabled] {
				display: none;
			}
		}

		.property_sheet {
			text-align: left;
		}
	}

	//fixme fix html
	div.select {
		a {
			display: inline-block;
			float: left;
			@include anchorUnderlineHover;
		}
	}


	.catalog_object_editor {
		border: 1px solid $color-lighter-grey;

		+ .catalog_object_editor {
			border-top: 0 none;
		}

		+ .content_instruction {
			margin-top: 20px;
		}

		span.name {
			display: inline-block;
			float: left;
		}
	}

	.add_catalog_node_button {
		float: right;
		margin-bottom: 5px;
	}

	.category_list_label {
		@include style-h4;
		margin-bottom: 5px;
	}

	.category_list {
		clear: both;
		border: 1px solid $color-lighter-grey;

		&:empty {
			background-color: $color-almost-white;
			padding: 5px;

			&:before {
				//fixme get this fixed
				content: "No Categories";
			}
		}

		.category {
			+ .category {
				border-top: 1px solid $color-lighter-grey;
			}

			div.edit {
				padding: 5px;

				.buttons {
					display: inline-block;
					margin-left: 5px;
				}
			}
		}
	}

	> .buttons {
		margin-top: 10px;
	}

	.css_class,
	.browse_link,
	.detail_link,
	.content_chunks {
		margin: 10px 0;

		label {
			@include style-form-label;
			margin-bottom: 5px;
		}
	}

	.content_chunks {
		.chunk {
			margin: 5px 0;

			.btn.edit {
				margin-left: 5px;
			}
		}
	}

	.content_instruction,
	.content_empty_message {
		@include style-message-info();
		margin: 5px 0;
	}

}
