@import "../../Config/base-import";

.report_assignment_listing {
}

.available_reports {
	.report_assignment_table {
		td.action-column {
			.btn {
				@include buttonGlyphAdd($html-entity-nbsp);
				@include buttonStyleSmall;

				&.edit {
					@include buttonGlyphOverride($html-entity-edit);
				}
				&.delete {
					@include buttonGlyphOverride($html-entity-delete);
				}
				//fixme add classes to this
				&:nth-child(2) {
					@include buttonGlyphOverride($html-entity-play);
				}
				&:nth-child(3) {
					@include buttonGlyphOverride($html-entity-calendar);
				}
				&:nth-child(4) {
					@include buttonGlyphRemove();
				}
			}
		}
	}
}

.reportrequest_output {
	> .heading {
		@include style-h2;
		margin-bottom: 15px;
		display: block;
	}

	.version_title {
		@include style-h3;
		display: block;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	//fixme wrap in actions div
	> .btn.close {
		margin-top: 10px;
	}
}

//run report
.report_center {
	//fixme need a class for this
	> div:not(.tab-container) {
		@include style-inline-box();
	}

	//fixme fix tables
	.wizard_title {
		@include style-h2;
		display: block;
		margin-bottom: 15px;
	}

	.step_title {
		@include style-h3;

	}

	.parameter_group {
		margin-top: 5px;
		padding: 10px;
		background-color: $color-almost-white;

		legend {
			@include style-h4;
		}
	}

	.parameter {
		margin: 5px 0;

		label {
			@include style-form-label;
			margin-right: 5px;
		}

		span.val {
			@include style-form-input-readonly;
		}
	}

	.report_format_step {
		.prop {
			margin: 5px 0;
		}

		.close_question {
			margin-top: 10px;
		}
	}

	.report_schedule_step {
		.notes {
			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}
	}

	.users_and_groups {
		margin-top: 10px;

		.users_title,
		.groups_title {
			@include style-h3;
			display: block;
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}
		}

		.constraints {
			margin-bottom: 5px;

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}

		.pager-top {
			display: none;
		}

		.btn {
			&.add {
				@include buttonStyleAddGlyph();
			}
			&.remove {
				@include buttonStyleRemoveGlyph();
			}
		}
	}

	.procedure-navigation-bottom {
		margin-top: 10px;

		td {
			padding-right: 2px;
		}
	}
}