@import "../../Config/base-import";

@import "../../Components/Partials/report-wizard";

.available_reports {
	.report_assignment_table {
		td.action-column {
			.btn {
				@include buttonGlyphAdd($html-entity-nbsp);
				@include buttonStyleSmall;

				&.edit {
					@include buttonGlyphOverride($html-entity-edit);
				}
				&.delete {
					@include buttonGlyphOverride($html-entity-delete);
				}
				//fixme add classes to this
				&:nth-child(2) {
					@include buttonGlyphOverride($html-entity-play);
				}
				&:nth-child(3) {
					@include buttonGlyphOverride($html-entity-calendar);
				}
				&:nth-child(4) {
					@include buttonGlyphRemove();
				}
			}
		}
	}
}

.reportrequest_output {
	> .heading {
		@include style-h2;
		margin-bottom: 15px;
		display: block;
	}

	.version_title {
		@include style-h3;
		display: block;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	//fixme wrap in actions div
	> .btn.close {
		margin-top: 10px;
	}
}

.report_center {
	//fixme need a class for this
	> div:not(.tab-container) {
		@include style-inline-box();
	}
}