@import "../../Config/_base-import";

.searchui-app-hc {
	.workspace-actions {
		margin-bottom: 5px;

		.btn {
			&.show-hide-btn {
				&.shown {
					@include buttonGlyphAdd($html-entity-branch-close);
				}
				&.hidden {
					@include buttonGlyphAdd($html-entity-branch-open);
				}
			}
		}
	}

	.searchui-app-main {
		> .search {
			@include style-inline-box();

			.action-column {
				.btn {
					&.edit {
						@include buttonStyleEditGlyph();
					}
				}
			}
		}
	}

	.uitask-manager-con {
		margin: 10px 0;
	}

	.task {
		@include style-inline-box();

		.project_name,
		.agency_name {
			input {
				width: 300px;
			}
		}

		//fixme fix classes and structure
		.miwt-table {
			.last-column {
				text-align: right;
			}

			.btn {
				&.edit {
					@include buttonStyleEditGlyph();
				}
				&.delete {
					@include buttonStyleDeleteGlyph();
				}
			}
		}
	}
}

