@import "../../Config/_base-import";

span.heading {
	@include style-h3;
	display: block;
	margin-bottom: 10px;
}

table.form {
	margin: 10px 0;

	td {
		padding: 5px;
	}

	.label {
		@include style-form-label;
	}
}

table.actions {
	.ok-con {
		padding-right: $spacing-default-between-buttons;
	}
}