@import "../../Config/base-import";

@import "../../Components/Partials/email-template-editor";

//fixme get help_point changed to help-point
span.help_point {
	background-color: $color-orange;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 16px;
	height: 16px;
	font-family: $font-open-sans-bold;
	font-size: 11px;
	overflow: hidden;

	a {
		text-decoration: none;
		color: $color-white;

		&:before {
			content: "?";
			float: left;
			display: block;
			width: 16px;
		}
	}

	&.disabled {
		background-color: $color-grey;
		color: $color-lighter-grey;
		cursor: default;

		&:before {
			content: "?";
			float: left;
			display: block;
			width: 16px;
		}
	}
}

.search-results {
	.btn {
		&.view {
			@include buttonGlyphOnly($html-entity-view);
		}
		&.delete {
			@include buttonStyleDeleteGlyph();
		}
	}
}

.pager-top {
	display: none;
}

.mail_merge_results  {
	> h2 {
		margin-top: 0;
	}
}

.message_viewer {
	@include style-inline-box();
	margin-top: 10px;

	.to,
	.cc,
	.from,
	.subject {
		margin: 10px 0;

		label {
			@include style-form-label;
			display: inline-block;
			margin-right: 10px;
			width: 55px;
		}
	}

	.body {
		@include style-inline-box($bgcolor: $color-almost-white);
		font-family: $font-monospace;
		margin: 10px 0;
	}
}

.mail_merge_editor  {
	> h2 {
		margin-top: 0;
	}

	.prop {
		&.name,
		&.confirmation_email {

			input {
				width: 300px;
			}
		}
	}

	.selected_email_template {
		.selected_template_label {
			margin-left: 10px;
		}
	}

	.persistence_actions {
		span.help_point {
			margin-left: 5px;
		}
	}
}