@import "../../Config/base-import";

.search_results {
	.btn {
		&.edit {
			@include buttonStyleEditGlyph();
		}
		&.delete {
			@include buttonStyleDeleteGlyph();
		}
	}
}

.notification_editor  {
	> .title {
		margin-top: 0;
	}

	.subject,
	.sender {
		input {
			width: 300px;
		}
	}

	.recipients {
		> h2 {
			margin-bottom: 0;
		}

		> .instructions {
			margin-top: 0;
		}
	}
}

.search_results {
	caption {
		@include style-h4;
		text-align: left;
	}
}