@import "../Config/base-import";

@include fontFace('OpenSans', '/OpenSans', 'opensans-regular-webfont');
@include fontFace('OpenSansBold', '/OpenSans', 'opensans-bold-webfont');
@include fontFace('OpenSansSemiBold', '/OpenSans', 'opensans-semibold-webfont');

@include fontFace('GlyphLib', '/GlyphLib', 'neptune-glyph-font');

@import "../Libs/normalize";

@import "../Components/Partials/buttons";
@import "../Components/Partials/messages";

*, *:before, *:after {
	@include box-sizing(border-box);
}

html,
body {
	height: 100%;
}

body {
	background: center center $color-dark-blue themeDesignResourceUrl('/Login/login-site-bg.jpg') no-repeat;
	background-size: cover;
	color: $color-blue-almost-white;
	font-size: $font-default-size;
}

.l-primary-content {
	width: 325px;
	margin: 0 auto;

	//fix to contain interior margins
	&:before, &:after {
		content: " ";
		display: table;
	}
}

a {
	color: $color-blue-almost-white;

	&:hover {
		text-decoration: none;
	}
}

.site-logo {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 20px;
}


.copyright {
	text-align: center;
	margin-top: 50px;

	.vipasolutions {
		width: 139px;
		height: 31px;
		display: inline-block;
		vertical-align: middle;
		background-image: themeDesignResourceUrl('/Login/vipasolutions-logo.png');
		margin-bottom: 9px;

		.text {
			display: none;
		}
	}

	.made {
		.nebraska {
			font-size: 0;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 4px;
			width: 30px;
			height: 15px;
			background: center center transparent themeDesignResourceUrl('/Overall/nebraska-icon.svg');
			background-size: contain;
		}
	}
}


