@import "../Config/_base-import";

@import "../Components/Partials/_desktop";


.desktop_component {
	.help-point {
		&.administration-client,
		&.administration-role,
		&.administration-user {
			float: right;
			margin-bottom: 5px;
		}
	}

	.tab-content {
		label {
			@include style-form-label;
			margin-right: 5px;
		}

		//general tab
		> .general {
			label {
				width: 130px;
				display: inline-block;
			}

			.client_name,
			.client_programmaticname,
			.client_description {
				margin: 5px 0;
			}

			> .actions {
				margin-top: 15px;
			}
		}

		//sites tab
		> .sites {
			> .actions {
				margin-bottom: 5px;
			}
		}

		//issue tracker tab
		> .projects {
			> .actions {
				margin-bottom: 5px;
			}

			> .heading {
				@include style-h3;
				display: block;
				margin: 15px 0 5px;
			}
		}

		//roles tab
		> .roles {
			> .actions {
				margin-bottom: 5px;
			}
		}

		//stores tab
		> .stores {
			> .actions {
				margin-bottom: 5px;
			}

			> .stores {
				> .heading {
					@include style-h3;
					display: block;
					margin: 15px 0 5px;
				}
			}
		}

		//business processes tab
		> .businessprocesses {
			> .actions {
				margin-bottom: 5px;
			}
		}
	}

	.desktop {
		//addrole UI off roles tab
		div.addrole {
			@include style-inline-box();

			> .existing_roles {
				margin: 5px 0;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}

			> .roles {
				.role {
					margin: 5px 0;

					//fixme add btn class
					a.remove_role {
						@include buttonBase;
						@include buttonStyleRemoveGlyph();
					}
				}
			}

			> .actions {
				margin-top: 10px;
			}
		}

		//create role UI off roles tab
		div.createrole {
			@include style-inline-box();

			.name,
			.pname,
			.description,
			.client,
			.timeout {
				margin: 5px 0;

				label {
					@include style-form-label;
					width: 160px;
					display: inline-block;
					vertical-align: top;
					margin-right: 10px;
				}
			}

			//fixme add a class for this
			.enabled {
				margin: 5px 0;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}

			.actions {
				margin-top: 10px;
			}
		}

		.operational_report_listing {
			> .btn.add {
				margin-bottom: 5px;
			}
		}

		.security {
			//fixme add btn class
			> a.edit {
				@include buttonBase;
			}
		}

	}

}

.principaldetail {
	.help-point{
		&.administration-user {
			float: right;
			margin-bottom: 5px;
		}
		&.disabled {
			display: none;
		}
	}

	//fixme need fix for this with classes or html updates
	> div {
		@include style-inline-box();

		&.tab-container {
			padding: 0;
			border: 0 none;
			background-color: transparent;
		}
	}

	.property_editor,
	.property_viewer {
		div.prop {
			margin: 5px 0;
		}
	}

	//fixme fix the html
	.account_info,
	.groups,
	.login_info,
	.auth_domains {
		> label {
			@include style-h3;
			display: block;
		}
	}

	.groups,
	.login_info,
	.auth_domains {
		margin-top: 15px;
	}

	.add-con {
		text-align: right;

		.btn {
			margin-bottom: 5px;
		}
	}

	.account_info,
	.groups,
	.auth_domains {
		.view_buttons {
			float: right;
			margin-bottom: 5px;
		}
	}

	//fixme remove this once htmnl updated because of cascades
	.groups,
	.auth_domains {
		.all_table,
		.set_table {
			margin-top: 0;
		}
	}

	.pager-top {
		display: none;
	}

	.login_info {
		table {
			width: 100%;

			.actions {
				text-align: right;

				//fixme add btn class
				a {
					@include buttonBase;
					@include buttonStyleEditGlyph();
				}
			}
		}
	}

	.all_table,
	.set_table {
		margin-top: 10px;

		.constraints {
			display: inline;
		}

		.title {
			@include style-h4;
		}
	}

	//fixme give the password token edits better html
	table {
		.login,
		.password,
		.password_verify {
			margin-bottom: 5px;

			label {
				@include style-form-label;
				margin-right: 5px;
				display: inline-block;
				width: 190px;
			}
		}

		+ .edit_buttons {
			margin-top: 10px;
		}
	}

	//fixme this is so bad because I have nothing to target
	// this is meant to be the role edit UI
	> div > div {
		.name,
		.pname,
		.description,
		.client,
		.timeout,
		.enabled {
			margin: 5px 0;

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}
	}
}