@import "../../Config/_base-import";

.nde-editor,
.file-editor {
	> .help-point.disabled {
		display: none;
	}

	.file-editor-title {
		@include style-h2;
		display: block;
		margin-right: 5px;
	}

	.file-editor-controls {
		text-align: center;
		margin: 10px 0;

		.btn {

			&.action-save,
			&.action-save-exit {
				@include buttonGlyphAdd($html-entity-success);
			}
			&.action-save {
				margin-left: 5px;
			}
			&.action-exit {
				@include buttonGlyphAdd($html-entity-cancel);
			}
		}
	}

	.version_table {
		.version_title {
			@include style-h3;
			display: block;
			margin: 15px 0 5px;
		}
	}
}
