@import "../../Config/base-import";

@import "../../Components/Partials/desktop";

.principaldetail {
	.help-point{
		&.administration-user {
			float: right;
			margin-bottom: 5px;
		}
		&.disabled {
			display: none;
		}
	}

	.property_editor,
	.property_viewer {
		div.prop {
			margin: 5px 0;
		}
	}

	//fixme fix the html
	.account_info,
	.groups,
	.login_info,
	.auth_domains {
		> label {
			@include style-h3;
			display: block;
		}
	}

	.groups,
	.login_info,
	.auth_domains {
		margin-top: 15px;
	}

	.add-con {
		text-align: right;

		.btn {
			margin-bottom: 5px;
		}
	}

	.account_info,
	.groups,
	.auth_domains {
		.view_buttons {
			float: right;
			margin-bottom: 5px;
		}
	}

	.pager-top {
		display: none;
	}

	.login_info {
		table {
			width: 100%;

			.actions {
				text-align: right;

				//fixme add btn class
				a {
					@include buttonBase;
					@include buttonStyleEditGlyph();
				}
			}
		}
	}
}