@import "../../Config/_base-import";

.directions {
	text-align: center;
	line-height: 1.5;
}

.retrieve-password {
	@include textLikeInputs {
		border: 1px solid $color-cloud-grey;
		padding: 10px;
		padding-left: 40px;
		margin: 0;
		color: $color-default-site-font;
	}

	text-align: center;

	div.email {
		margin-bottom: 10px;
		position: relative;

		&:before {
			position: absolute;
			left: 7px;
			top: 4px;
			@include glyphAdd($html-entity-mail, 28px, $color-grey);
		}


		span.email {
			display: none;
		}

		input {
			width: 100%;
		}
	}

	.submit {
		@include buttonBase;
		@include buttonColors($color-green);
		box-shadow: 0 0 7px transparentize($color-dark-blue, 0.3);
		font-size: 18px;
		padding: 7px 50px;
	}
}