@import "../../Config/base-import";

.data_provider_mgt {
	.search_results {
		.last-column {
			width: 1px;
			white-space: nowrap;
		}

		.btn {
			&.copy {
				@include buttonGlyphOnly($html-entity-copy);
			}
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
		}
	}

	.miwt-table {
		.last-column {
			width: 1px;
			white-space: nowrap;
			text-align: right;
		}

		.btn {
			&.remove {
				@include buttonStyleRemoveGlyph();
			}
		}
	}

	.name,
	.description,
	.selected_suppliers,
	.selected_extensions {
		margin: 10px 0;

		label {
			@include style-form-label;
			margin-right: 5px;
		}
	}

	.name,
	.description {
		input {
			width: 300px;
		}
	}

	.selected_suppliers,
	.selected_extensions {
		.heading {
			margin-bottom: 5px;

			.btn {
				@include buttonStyleSmall;
			}
		}

		.caption {
			@include style-form-label;
			margin-right: 5px;
		}
	}

	//fixme add classes
	.selected_extensions {
		+ .actions {
			margin-top: 10px;

			.btn {
				&.save {
					@include buttonGlyphAdd($html-entity-success);
				}
				&.cancel {
					@include buttonGlyphAdd($html-entity-cancel);
				}
			}
		}
	}
}

.configuration_editor {
	.config {
		margin: 10px 0;

		> label {
			@include style-form-label;
			margin-right: 5px;
		}
	}
}