@import "../../Config/_base-import";

.vsprocess_list {
	label {
		@include style-form-label;
		margin-right: 5px;
	}

	.processes {
		margin-top: 5px;
	}
}

.number-of-entries {
	@include style-h4;
	display: block;
	margin-bottom: 10px;
}

.form_content {
	@include style-inline-box($bgcolor: $color-almost-white);
	display: inline-block;
	margin-top: 15px;

	.form_field {
		margin-bottom: 10px;
	}
}