@import "../Config/base-import";

.file_management_component {
	.tree_file_view {
		width: 100%;
	}

	.directory_name {
		@include style-h3;
	}

	.file_tree_container-con {
		vertical-align: top;
		padding: 0 10px;
		width: 1%;
	}

	table.file_tree {
		@include style-miwt-tree-norows;
	}

	.file_table_container-con {
		vertical-align: top;
	}

	.dnd-target-active {
		a.fse_file,
		a.fse_folder {
			font-family: $font-open-sans-bold;
		}
	}

	a.fse_file,
	a.fse_folder {
		text-decoration: none;
	}

	.quick-actions {
		.btn {
			@include buttonGlyphOnly($html-entity-nbsp);

			&.download-action {
				@include buttonGlyphOverride($html-entity-download);
			}
			&.delete-action {
				@include buttonStyleDeleteGlyph();
			}
			&.rename-action {
				@include buttonGlyphOverride($html-entity-rename);
			}
			&.info-action {
				@include buttonGlyphOverride($html-entity-info);
			}
			&.change-permissions-action {
				@include buttonGlyphOverride($html-entity-fixme);
			}
		}
	}

	.fse_preview,
	.fse_table {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}

	.fse_preview {
		textarea.file_preview_text {
			@include style-form-input-readonly;
			width: 100%;
			height: 350px;
			font-family: $font-monospace;
		}
	}

	.fse_details_title {
		@include style-h3;
	}

	.file_info_label {
		@include style-form-label;
		padding-right: 15px;
	}

	.content_type_selector {
		display: inline-block;
		vertical-align: middle;

		.select_existing {
			position: absolute;
			@include style-popup-box;

			> label {
				@include style-form-label;
			}

			.richlist {
				min-width: 200px;
				max-height: 250px;
				overflow-y: auto;
				margin: 10px 0;
			}
		}
	}

	.btn {
		&.edit {
			@include buttonStyleEditGlyph();
		}
	}

	div.fsmd_table,
	div.version_table {
		margin-top: 15px;

		.title {
			@include style-form-label;
			margin-bottom: 5px;
			display: block;
		}
	}

}

.file_info_heading {
	@include clearfix;
	margin-bottom: 10px;

	.title {
		@include style-h2;
	}

	.button_back {
		float: right;
	}
}