@import "../Config/base-import";

.site-locale {
	margin: 5px 0;
	position: relative;

	.current-selection {
		text-decoration: none;
		color: $color-default-site-font;
		background-color: $color-white;
		padding: 5px;
		display: block;
	}

	.selector {
		display: none;
		position: absolute;
		z-index: 5000;
		left: 100%;
		top: -10px;
		margin-left: 5px;
		width: 350px;
		padding: 10px;
		background-color: $color-white;
		border: 1px solid $color-cloud-grey;
		@include box-shadow(3px 3px 7px transparentize($color-black, 0.75));

		&.selector-active {
			display: block;
		}

		.heading {
			font-family: $font-open-sans-semi-bold;
			font-size: 14px;
			margin: 5px 0;
		}
	}

	.locales {
		margin: 10px 0;
		text-align: right;
	}

	.locale {
		padding: 3px;
		@include clearfix;

		&:hover {
			background-color: $color-cornsilk;
		}

		.display-name {
			float: left;
			text-align: left;
			max-width: 150px;
		}

		.lis {
			margin-left: 10px;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;

			&:hover + label {
				background-color: $color-light-bluegrey;
				color: $color-white;
			}
		}

		label {
			margin-left: 3px;
			display: inline-block;
			vertical-align: middle;
			padding: 0 4px;
			cursor: pointer;

			&:hover {
				background-color: $color-light-bluegrey;
				color: $color-white;
			}

			&.checked {
				background-color: $color-blue;
				color: $color-white;
			}
		}
	}

	.actions {
		text-align: right;
	}
}