@import "../Config/base-import";

.old-site-selector {
	//FIXME remove selector when new component is made
	display: none;
}

.site-selector {
	position: relative;
	margin: 10px 0;

	&.selector-open {
		.selector-sites-con {
			display: block;
		}
	}

	.current-site {
		background-color: $color-almost-white;
		padding: 5px;

		.icon {
			float: left;
			margin-right: 5px;
		}

		.hostname {
			color: $color-default-site-font;
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.selector-sites-con {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		width: 350px;
		margin-left: 10px;
		padding: 10px;
		background-color: $color-white;
		border: 1px solid $color-cloud-grey;
		@include box-shadow(3px 3px 7px transparentize($color-black, 0.75));
	}

	.ss-search-form {
		margin-bottom: 15px;
	}

	.ss-site-search {
		margin-right: 5px;
	}

	.selector-sites {
		.heading {
			font-family: $font-open-sans-semi-bold;
			font-size: 14px;
			margin: 5px 0;
		}
	}

	.current-site-actions {
		margin-top: 5px;

		.btn {
			font-size: 14px;
			text-transform: uppercase;
			font-family: $font-open-sans-bold;

			& + .btn {
				margin-left: 5px;
			}

			&.live-view {
				@include buttonColors($color-green);
			}
			&.live-edit {
				@include buttonColors($color-orange);
			}
		}
	}

	.results {
		max-height: 300px;
		overflow-y: auto;
	}
}