@import "../../Config/base-import";

.table_view {
	.btn {
		&.details_button {
			@include buttonGlyphOnly($html-entity-view);
		}
		&.edit_button {
			@include buttonStyleEditGlyph();
		}
		&.delete_button {
			@include buttonStyleDeleteGlyph();
		}
	}
}

.discount_listing {
	.constraints {
		label {
			margin-right: 5px;
		}
	}
}

.detail_view {
	@include style-inline-box($bgcolor: $color-almost-white);
	margin-top: 20px;

	td {
		padding: 5px;

		.bean_view_label {
			@include style-form-label;
		}
	}
}

.hibernate_search {
	.layout {
		.layout_group.buttons {
			display: inline-block;
		}

		.constraint {
			margin-right: 5px;
		}

		.table_view {
			margin: 5px 0;
		}
	}
}