@import "../../Config/_base-import";

@import "../../Components/Partials/_template-properties-editor";

.template_management {
	.entity_actions {
		.btn {
			&.add {
				@include buttonGlyphAdd($html-entity-add);
			}
		}
	}

	.heading {
		margin-top: 0;
	}

	label {
		@include style-form-label;
		margin-right: 5px;
	}
}

.templates_table {
	.actions {
		.btn {
			@include buttonGlyphOnly($html-entity-nbsp);

			&.edit {
				@include buttonStyleEditGlyph;
			}
			&.copy {
				@include buttonGlyphOverride($html-entity-copy);
			}
			&.delete {
				@include buttonStyleDeleteGlyph;
			}
		}
	}
}

.create_new_template {
	label {
		width: 110px;
		display: inline-block;
	}

	input[type=text] {
		width: 300px;
	}

	> .name,
	> .css_id,
	> .select_layout {
		margin: 5px 0;
	}

	> .actions {
		margin-top: 15px;
	}
}


.create_primary_menu {
	> table {
		width: 100%;
	}

	.heading {
		@include style-h3;
		margin-top: 15px;
	}

	> .heading {
		margin-top: 0;
	}

	.pager-top {
		display: none;
	}

	.pages {
		th {
			&:nth-child(1),
			&:nth-child(2) {
				width: 35%;
			}
			&.control {
				width: 1%;
			}
		}
	}

	.procedure-navigation {
		margin-top: 15px;
	}
}