@import "../../Config/base-import";

.preferences {
	.tab-content {
		padding-bottom: 50px;
	}

	.property_viewer,
	.property_editor {
		.prop {
			label {
				margin-right: 10px;
			}
		}
	}

	.max_editors,
	.max_recent {
		input {
			width: 50px;
		}
	}

	.preference-actions {
		margin-top: -40px;
		margin-left: 15px;
	}
}