@import "font-glyph-entities";

$html-entity-remove: $html-entity-close;
$html-entity-delete: $html-entity-trashcan;
$html-entity-cancel: $html-entity-close;
$html-entity-collapse: $html-entity-branch-close;
$html-entity-expand: $html-entity-branch-open;