
$html-entity-add: "\f101";
$html-entity-arrow-down: "\f102";
$html-entity-arrow-left: "\f103";
$html-entity-arrow-right: "\f104";
$html-entity-arrow-up: "\f105";
$html-entity-article: "\f106";
$html-entity-book: "\f107";
$html-entity-branch-close: "\f108";
$html-entity-branch-open: "\f109";
$html-entity-close: "\f10a";
$html-entity-cms: "\f10b";
$html-entity-component: "\f10c";
$html-entity-dashboard: "\f10d";
$html-entity-delete: "\f10e";
$html-entity-download: "\f10f";
$html-entity-edit: "\f110";
$html-entity-file-system: "\f111";
$html-entity-folder-open: "\f112";
$html-entity-folder-up: "\f113";
$html-entity-folder: "\f114";
$html-entity-gear: "\f115";
$html-entity-info: "\f116";
$html-entity-layout: "\f117";
$html-entity-live-edit: "\f118";
$html-entity-logout: "\f119";
$html-entity-move: "\f11a";
$html-entity-page: "\f11b";
$html-entity-photos: "\f11c";
$html-entity-preview: "\f11d";
$html-entity-process: "\f11e";
$html-entity-profile: "\f11f";
$html-entity-refresh: "\f120";
$html-entity-rename: "\f121";
$html-entity-search: "\f122";
$html-entity-site: "\f123";
$html-entity-success: "\f124";
$html-entity-support: "\f125";
$html-entity-template: "\f126";
$html-entity-upload: "\f127";
$html-entity-view: "\f128";
