
$html-entity-action-trigger-mgt: "\f101";
$html-entity-active-requests: "\f102";
$html-entity-add: "\f103";
$html-entity-arrow-down: "\f104";
$html-entity-arrow-left: "\f105";
$html-entity-arrow-right: "\f106";
$html-entity-arrow-up: "\f107";
$html-entity-article: "\f108";
$html-entity-attachment: "\f109";
$html-entity-battery-almost-full: "\f10a";
$html-entity-blog: "\f10b";
$html-entity-book: "\f10c";
$html-entity-branch-close: "\f10d";
$html-entity-branch-open: "\f10e";
$html-entity-calendar-config: "\f10f";
$html-entity-calendar: "\f110";
$html-entity-cart: "\f111";
$html-entity-catalog: "\f112";
$html-entity-clients: "\f113";
$html-entity-close: "\f114";
$html-entity-cms: "\f115";
$html-entity-comment-def-mgt: "\f116";
$html-entity-comment-moderation: "\f117";
$html-entity-component-factory: "\f118";
$html-entity-component: "\f119";
$html-entity-console: "\f11a";
$html-entity-copy: "\f11b";
$html-entity-custom-db-mgt: "\f11c";
$html-entity-custom-model-mgt: "\f11d";
$html-entity-customer-care: "\f11e";
$html-entity-customer-requests-mine: "\f11f";
$html-entity-dashboard: "\f120";
$html-entity-data-provider-mgt: "\f121";
$html-entity-database: "\f122";
$html-entity-discount: "\f123";
$html-entity-donation: "\f124";
$html-entity-download: "\f125";
$html-entity-edit: "\f126";
$html-entity-email-template-mgt: "\f127";
$html-entity-event-mgt: "\f128";
$html-entity-events-calendar: "\f129";
$html-entity-file-system: "\f12a";
$html-entity-files: "\f12b";
$html-entity-folder-open: "\f12c";
$html-entity-folder-up: "\f12d";
$html-entity-folder: "\f12e";
$html-entity-form-data: "\f12f";
$html-entity-form-process: "\f130";
$html-entity-forms: "\f131";
$html-entity-gear: "\f132";
$html-entity-help-points: "\f133";
$html-entity-info: "\f134";
$html-entity-inventory: "\f135";
$html-entity-label-mgt: "\f136";
$html-entity-layout: "\f137";
$html-entity-live-edit: "\f138";
$html-entity-lock: "\f139";
$html-entity-log4j-mgt: "\f13a";
$html-entity-logout: "\f13b";
$html-entity-mail-merge: "\f13c";
$html-entity-mail: "\f13d";
$html-entity-member-admin: "\f13e";
$html-entity-message-mgt: "\f13f";
$html-entity-monitor: "\f140";
$html-entity-move-bottom: "\f141";
$html-entity-move-down: "\f142";
$html-entity-move-top: "\f143";
$html-entity-move-up: "\f144";
$html-entity-move: "\f145";
$html-entity-order-entry-wizard: "\f146";
$html-entity-order-mgt: "\f147";
$html-entity-order-pickup: "\f148";
$html-entity-orders: "\f149";
$html-entity-page: "\f14a";
$html-entity-paypool: "\f14b";
$html-entity-photos: "\f14c";
$html-entity-play: "\f14d";
$html-entity-plugin-install-mgt: "\f14e";
$html-entity-plugin-mgt: "\f14f";
$html-entity-preview: "\f150";
$html-entity-process-data: "\f151";
$html-entity-process-task: "\f152";
$html-entity-process: "\f153";
$html-entity-product: "\f154";
$html-entity-profile: "\f155";
$html-entity-refresh: "\f156";
$html-entity-rename: "\f157";
$html-entity-report-config: "\f158";
$html-entity-report-graph: "\f159";
$html-entity-reports-mine: "\f15a";
$html-entity-search: "\f15b";
$html-entity-shipping: "\f15c";
$html-entity-site: "\f15d";
$html-entity-social-facebook: "\f15e";
$html-entity-social-linkedin: "\f15f";
$html-entity-social-twitter: "\f160";
$html-entity-star: "\f161";
$html-entity-store: "\f162";
$html-entity-success: "\f163";
$html-entity-support: "\f164";
$html-entity-system-cache: "\f165";
$html-entity-system-info: "\f166";
$html-entity-template: "\f167";
$html-entity-text-editor: "\f168";
$html-entity-trashcan: "\f169";
$html-entity-upload: "\f16a";
$html-entity-view: "\f16b";
