@import "../../Config/_base-import";

/*
	overall.scss partial -	Base Elements
*/
*, *:before, *:after {
	@include box-sizing(border-box);
}

html, body, body > .page {
	height: 100%;
}

body {
	font-family: $font-open-sans;
	font-size: $font-default-size;
	color: $color-default-site-font;
	background-color: $color-default-site-bg;
}


h1 {
	@include style-h1;
}

h2 {
	@include style-h2;
}

h3 {
	@include style-h3;
}

h4 {
	@include style-h4;
}

//click to edit
.click_to_edit {
	> label {
		margin-right: 5px;
	}

	span.field,
	span.val {
		@include style-form-input-readonly;
		vertical-align: top;
		min-width: 150px;
		margin-right: 5px;

		&.ta {
			min-height: 100px;
		}
	}

	input.field,
	textarea.field,
	input.val {
		margin-right: 5px;
	}

	.btn {
		&.edit {
			@include buttonGlyphAdd($html-entity-edit);
		}
		&.save,
		&.save_button {
			@include buttonGlyphAdd($html-entity-success);
		}
		&.cancel {
			@include buttonGlyphAdd($html-entity-cancel);
		}
	}
}

//code mirror
.CodeMirror-wrapping {
	border: 1px solid $color-cloud-grey;
	width: auto !important;
}

//help points
span.help-point {
	background-color: $color-orange;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 16px;
	height: 16px;
	font-family: $font-open-sans-bold;
	font-size: 11px;
	overflow: hidden;

	a {
		text-decoration: none;
		color: $color-white;

		&:before {
			content: "?";
			float: left;
			display: block;
			width: 16px;
		}
	}

	&.disabled {
		background-color: $color-grey;
		color: $color-lighter-grey;
		cursor: default;

		&:before {
			content: "?";
			float: left;
			display: block;
			width: 16px;
		}
	}
}

//locale selector
.locale_selector {
	.locale_input {
		input {
			margin-right: 5px;
			margin-left: 5px;
		}
	}

	.locales {
		margin: 10px 0;
	}
}

//label management pager
.pager-labels {
	.search_results {
		.btn {
			&.rename {
				@include buttonGlyphOnly($html-entity-rename);
			}
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
		}
	}
}

//forms
@include textLikeInputs {
	border: 1px solid $color-light-grey;
	padding: 4px;
	vertical-align: middle;

	&:focus {
		border-color: $color-blue;
		@include box-shadow(0 0 5px transparentize($color-blue, 0.75));
	}
}

select,
textarea {
	border: 1px solid $color-light-grey;
	padding: 4px;
	vertical-align: middle;

	&:focus {
		border-color: $color-blue;
		@include box-shadow(0 0 5px transparentize($color-blue, 0.75));
	}
}

fieldset {
	border-color: $color-lighter-grey;
}

legend {
	@include style-form-label;
}

//calendar input
.miwt-calendar {
	input {
		width: 135px;
	}

	button {
		&.clear {
			display: none;
		}
		&.open {
			@include buttonBase;
			@include buttonGlyphOnly($html-entity-calendar, $size: 24px);
		}
	}
}

//truncating cell renderer for tables
.truncating-renderer {
	span.tc-long-text {
		@include style-popup-box();
		display: block;
		position: absolute;
		z-index: 100;
		max-height: 350px;
		max-width: 350px;
		overflow-y: auto;
		min-width: 200px;
	}
}

.miwt-collapsable[data-disposition="float"] {
	.miwt-collapsable-content {
		@include style-popup-box();
		display: block;
		z-index: 100;
		max-height: 350px;
		max-width: 350px;
		overflow-y: auto;
		min-width: 200px;

		//fixme this happens in client management, need to make sure it doesnt anywhere else
		span.tc-long-text {
			padding: 0;
			position: static;
			border: 0 none;
			max-width: none;
			max-height: none;
			min-width: 0;
			@include box-shadow(none);
		}
	}
}

//miwt ajax loading box;
body > div.miwt-ajax-progress {
	@include style-popup-box();
	@include border-radius(0);
	min-height: 100px;

	.label {
		text-align: center;
		font-family: $font-open-sans-semi-bold;
		display: block;
	}

	.progress-con {
		> span {
			margin: 10px auto;
		}

		progress {
			margin: 5px 0;
			width: 100%;
			display: block;
		}

		&.progress-indeterminate {
			> span {
				margin-bottom: 0;
			}

			progress {
				display: none;
			}
		}
	}

	.smil & {
		.progress-con {
			> span {
				@include loading-circle-spinner;
			}
		}
	}

	.no-smil & {
		.progress-con {
			> span {
				@include loading-circle-spinner-nosmil;
			}
		}
	}

	&:after {
		text-align: center;
		font-family: $font-open-sans-semi-bold;
		display: block;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
	}
}

//label selector UI
.label_selector_hc {
	.label_selector {
		> .actions {
			text-align: right;

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}

		.search_results {
			caption {
				@include style-h4;
				text-align: left;
			}

			.btn {
				&.remove {
					@include buttonStyleRemoveGlyph();
				}
			}
		}
	}
}

//selected link in combination with link chooser
span.selected-link {
	display: block;
	margin: 5px 0;

	> label {
		@include style-form-label;
		margin-right: 10px;
	}

	> a {
		@include anchorUnderlineHover;
		color: $color-default-link;
		margin-right: 10px;
	}
}

//new link chooser UI
//fixme get html updates for UIs
.link-chooser {
	margin: 10px 0;

	> .title {
		@include style-form-label;


		> a {
			@include anchorUnderlineHover;
			color: $color-default-link;
			font-family: $font-open-sans;
			margin-left: 10px;
		}

		.actions {
			margin-left: 10px;
		}

		+ div {
			@include style-inline-box($bgcolor: $color-almost-white);
			margin-left: 20px;
			margin-top: 5px;
		}
	}

	div {
		div {
			span.actions {
				margin-left: 10px;
			}
		}
	}


	.search-bar {
		margin: 5px 0;

		input {
			margin-right: 10px;
		}

		.btn {
			margin-left: 10px;
		}
	}

	.pager-top {
		display: none;
	}

	.last-column {
		width: 1px;
	}
}