@import "../../Config/base-import";

/*
	Component partial -	Component editor
*/

//FIXME file bug report to separate attached NDE styles from editor UI so we can remove the .miwt wrapper
.miwt-form {

	div.editor {
		padding: 0;
	}

	.editor {
		.common_view {
			background-color: $color-cloud-grey;
			border: 1px solid $color-lighter-grey;
			border-bottom-color: $color-lighter-grey;
			padding: 10px;
			margin: 0;

			label {
				@include style-form-label;
				margin-right: 5px;
			}

			.workflow_state {
				margin-left: 10px;

				.separator {
					margin-right: 5px;
				}
			}
		}

		.editor_actions {
			span.help-point {
				margin-right: 5px;
				font-size: 12px;
				width: auto;
				height: auto;

				&.disabled {
					display: none;
				}

				a {
					padding: 5px 8px;
					display: block;
					font-family: $font-open-sans-semi-bold;
				}
			}

			.btn {
				&.action_save,
				&.action_save_exit {
					@include buttonGlyphAdd($html-entity-success);
				}
				&.action_cancel {
					@include buttonGlyphAdd($html-entity-cancel);
				}
			}
		}

		.menu_pe_options {
			@include resetMenu;
			margin-top: 10px;

			.mi {
				display: inline-block;

				+ .mi {
					> a {
						border-left: 0 none;
					}
				}
			}

			.mi-active {
				a {
					border-bottom-color: $color-smokey-white;
					color: $color-charcoal;
					background: $color-smokey-white;

					&:hover {
						color: $color-white;
						background-color: $color-blue;
						border-bottom-color: $color-blue;
					}
				}
			}


			a {
				text-decoration: none;
				display: inline-block;
				padding: 3px 6px;
				font-size: 11px;
				color: $color-light-charcoal;
				background: $color-lighter-grey;
				border: 1px solid $color-grey;

				&:hover {
					color: $color-white;
					background-color: $color-blue;
				}
			}
		}

		.pe_option_view {
			margin: -1px -10px -10px;
			padding: 10px;
			background-color: $color-smokey-white;
			border-top: 1px solid $color-light-grey;

			.css {
				.prop {
					margin-right: 10px;
				}
			}

			.breadcrumb {
				@include resetMenu;

				li {
					&.be {
						display: inline-block;
						margin: 2px 4px;
					}
					&:after {
						content: $html-entity-rarr;
						padding-left: 8px;
					}
					&.last:after {
						content: "";
						padding-left: 0;
					}
				}

				a {
					text-decoration:none;
				}
				.last span {
					font-family: $font-open-sans-bold;
				}
			}
			/* Visibility Conditions */
			div.visibility_builtin {
				position: relative;

				div.vc_editor {
					padding: 15px 0;
				}
				div.configuration_description {
					clear: both;
					padding-top: 10px;
					margin-top: 10px;
					border-top: 1px solid $color-light-grey;

					> h3 {
						margin: 0 0 5px;
					}
				}
				.standard_props span.prop {
					display: block;
					margin: 5px 0;
				}

				.btn {
					&.edit {
						@include buttonStyleEditGlyph();
					}
					//fixme fix class name
					&.remove {
						@include buttonStyleDeleteGlyph();
					}
				}
			}
			.pg_condition_editor {
				select.labels,
				select.principal_groups {
					max-width: 35%;
				}
			}
			.logic_editor div.add > a.menu_item {
				@include buttonBase;
				@include buttonGlyphAdd($html-entity-add);
			}
			.lc_editor-con span.close_button {
				display: inline-block;
				margin-bottom: 15px;
				padding-left: 5px;
			}
		}

		.editor_tabs {
			@include style-inline-box();
			border-top: 0 none;
		}

		div.content_history {
			padding: 10px;
			margin: 0;
			border: 1px solid $color-cloud-grey;
			border-top: 0 none;
			background-color: $color-white;

			.heading {
				margin-right: 10px;
			}

			.instructions {
				max-width: none;
				margin-left: 0;
				display: block;
			}
		}

		a.load_history_action {
			margin: 5px 0 0;
			border: 0 none;
			max-width: 550px;
			display: block;
			padding: 5px;

			&:hover {
				border: 0 none;
				background-color: $color-cornsilk;
			}
		}

		table.content_history {
			margin-top: 5px;
			border: 1px solid $color-lighter-grey;
		}

		.current_version {
			font-weight: normal;
			font-family: $font-open-sans-bold;
		}
	}
}

.editor_content {
	background-color: $color-white;
	border: 1px solid $color-lighter-grey;
	border-top: 0 none;
	padding: 15px;

	.editor & {
		.heading {
			@include style-h2;
		}
	}

	.pager-top {
		display: none;
	}

	.pageable {
		> .miwt-table {
			margin-top: 5px;
		}
	}

	.prop {
		+ .prop {
			margin-top: 5px;
		}

		label {
			font-family: $font-open-sans-semi-bold;
			margin-right: 10px;

			&.tbl {
				display: block;
				margin-right: 0;
				margin-bottom: 5px;
			}
		}

		.ctb {
			label {
				display: inline;
				margin-right: 5px;
				margin-bottom: 0;
			}
		}

		@include textLikeInputs {
			width: 300px;
		}

		.miwt-calendar {
			//fixme fix this once textlikeinputs isn't so specific
			@include textLikeInputs {
				width: 135px;
			}
		}
	}

	.library_form {
		.parameters {
			.prop {
				margin: 5px 0;

				textarea {
					width: 100%;
				}
			}
		}
	}

	.file.field {
		margin: 5px 0;

		label {
			font-family: $font-open-sans-semi-bold;
			margin-right: 10px;
		}

		.file-name {
			@include anchorUnderlineHover;
		}

		.actions {
			margin-left: 10px;
		}
	}

	.instructions {
		@include style-message-warning;
		margin: 10px 0;

		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
	}
}

.editor {
	&.MenuBean_editor {
		table.menu_editor {
			width: 100%;

			//fixme get class added for this
			tr:first-child {
				label {
					@include style-form-label;
					margin-right: 5px;
				}

				td {
					padding-bottom: 5px;
				}
			}
		}

		//fixme get styles removed from component
		.menuitem {
			label {
				@include style-form-label;
				margin-right: 5px;
			}
			.classname,
			.tooltip {
				label {
					margin-left: 10px;
				}
			}
			.menuitem_form {
				padding: 0;
			}
			.menuitem_actions {
				margin: 10px 0 0;
			}

			.additional {
				.properties {
					.heading {
						@include style-h3;
						font-weight: normal;
						margin-bottom: 5px;

						.btn {
							margin-left: 5px;
						}
					}
				}
			}
		}

		.sorting {
			margin-left: 10px;
			.btn {
				@include buttonGlyphOnly($html-entity-nbsp);
			}
		}

		.action-column {
			.btn {
				&.action_addchild,
				&.action_addsibling {
					@include buttonStyleSmall;
					@include buttonGlyphAdd($html-entity-add);
				}
				&.edit {
					@include buttonStyleEditGlyph();
					margin-left: 10px;
				}
				&.remove {
					@include buttonStyleRemoveGlyph();
				}
				&.action-top {
					@include buttonGlyphOverride($html-entity-move-top);
				}
				&.action-up {
					@include buttonGlyphOverride($html-entity-move-up);
				}
				&.action-down {
					@include buttonGlyphOverride($html-entity-move-down);
				}
				&.action-bottom {
					@include buttonGlyphOverride($html-entity-move-bottom);
				}

			}
		}
	}

	&.library_editor {
		.miwt-form & {
			@include style-inline-box();
		}

		.miwt-form .tab-content & {
			padding: 0;
			border: 0 none;
		}

		.editor_header {
			.btn {
				margin-left: 5px;
			}
		}

		.editor_title {
			@include style-h2;
			display: inline-block;
			margin-bottom: 15px;
		}

		.editor_footer {
			margin-top: 10px;
		}

		.file_editor {
			> .title {
				@include style-h3;
				display: block;
				margin: 15px 0 5px;
			}

			> .help-point.disabled {
				display: none;
			}
		}

		.click_to_edit {
			span.field {
				max-width: 350px;
			}
		}

		div.prop {
			margin: 5px 0;
		}

		.prop {

			&.description {
				margin-lefT: 10px;
			}

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}

		.btn {
			//fixme add classes to buttons
			&.test_button {
				@include buttonGlyphAdd($html-entity-play);
				margin-left: 2px;
			}
		}

		.file.field {
			.actions {
				margin-left: 5px;
			}
		}

		.file_editor_controls {
			margin: 10px 0;
			text-align: center;

			.btn {
				&.action_save {
					@include buttonGlyphAdd($html-entity-success);
					margin-left: 10px;
				}
			}
		}

		.version_table {
			.title {
				@include style-h3;
				display: block;
				margin-top: 15px;
			}
		}

		.selected_sites {
			caption {
				@include style-h3;
				text-align: left;
				margin-bottom: 5px;
			}

		}

		.pager-selected_sites + .instructions {
			@include style-message-warning;
		}
	}

	&.Article_editor {
		.main {
			> .posttime,
			> .withdrawtime,
			> .article_heading {
				margin: 10px 0;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}

			//optional properties tab
			.optional_properties {
				//fixme get class names added to all of this
				> div,
				> .file.field {
					display: block;
					margin: 5px 0;
				}

				label {
					@include style-form-label;
					margin-right: 5px;
				}

				.file.field {
					.actions {
						margin-left: 5px;
					}
				}
			}

			//seo tab
			.seo_metadata {
				label {
					width: 90px;
					vertical-align: top;
					display: inline-block;
				}
			}
		}
		//fixme fix classname
		.ArticleBuilder-Label_Author,
		.ArticleBuilder-Label_UpdateTime_Format,
		.ArticleBuilder-Label_PostTime_Format {
			margin-left: 15px;
		}
	}

	&.FreeMarkerComponent_editor {
		.editor_content {
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 0 none;

			&:before,
			&:after {
				content: "";
				display: table;
			}
		}

		.editor_tabs {
			border-top: 0 none;
		}

		//fixme get this with better classnames
		div.variables_collapsible,
		div.variables,
		div.request_parameters {
			margin-top: 10px;

			> .trigger {
				@include buttonBase;
				@include buttonGlyphAdd($html-entity-branch-open);
				margin-bottom: 5px;
			}

			&.shown {
				> .trigger {
					@include buttonGlyphOverride($html-entity-branch-close);
				}
			}
		}

		//fixme get a class name on this button
		.request_parameters {
			+ .btn {
				margin-top: 10px;
			}
		}

		.miwt-table {
			.btn {
				&.edit {
					@include buttonStyleEditGlyph();
				}
				&.remove {
					@include buttonStyleRemoveGlyph();
				}
			}
		}

		.template_content {
			.configuration,
			.expire_interval,
			.output_errors {
				margin-right: 10px;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}

			.content {
				margin: 5px 0 10px;
			}

			.code_completion_help {
				@include style-message-info();
			}
		}

		.model_settings {
			h2 {
				@include style-h3;
				margin: 0 0 10px;
			}

			.instructions {
				//fixme get this to be removed instead
				//@include style-message-warning();
				display: block;
				margin: 5px 0;

				&:empty {
					display: none;
				}
			}

			.new_var_action {
				margin-bottom: 5px;
			}

			textarea {
				width: 100%;
				font-family: $font-monospace;
			}

			//fixme get class for last column to be actions
			.variable_settings {
				.last-column {
					width: 1px;
					text-align: right;
				}
			}
		}

		.link_settings {
			label {
				@include style-form-label;
				margin-right: 5px;
			}

			.add_link {
				margin-bottom: 5px;
			}

			.var_name,
			.link {
				margin-right: 10px;
			}
		}

		.file_settings {
			label {
				@include style-form-label;
				margin-right: 5px;
			}

			.add_file {
				margin-bottom: 5px;

				> .file {
					margin-left: 10px;
					margin-right: 10px;
				}

				.actions {
					margin-left: 5px;
				}
			}
		}

		.macro_libraries {
			label {
				@include style-form-label;
				margin-right: 5px;
			}

			.add_macro_library {
				margin-bottom: 5px;

				.prop {
					margin-right: 10px;
				}

				.actions {
					display: inline;
				}
			}
		}
	}

	&.LogoutBean_editor {
		.logoutbean_editor {
			border: 0 none;
		}

		legend {
			display: none;
		}

		.options {
			margin: 5px 0 10px;

			//fixme get class on div
			/*+ div {
				@include style-message-warning();
				margin: 10px 0;
			}*/

			.rtb {
				margin-right: 10px;
			}
		}

		.CodeMirror-wrapping {
			margin: 5px 0;
		}
	}

	&.LoginBean_editor {
		.editor_content {
			border-bottom: 0 none;
		}

		.editor_tabs {
			.tal {
				@include style-form-label;
				display: block;
				margin-bottom: 5px;
			}
		}

		.landing_page,
		.landing_page_pending,
		.landing_page_suspended,
		.remember_me,
		.library_selector {
			margin: 5px 0;

			> label {
				margin-right: 5px;
			}
		}

		.script.redirect {
			> label {
				@include style-h4;
			}
		}

		.ctb {
			margin: 5px 0;
			display: block;
		}
	}

	&.CheckoutNGBean_editor {

		.instructions {
			@include style-message-info();
			margin: 10px 0;
			max-width: 700px;
			//fixme possibly fix this max width, not sure if im 100% on it
		}

		//fixme get common class on all of them
		.tab-content {
			> div > div {
				margin: 5px 0;

				> label {
					@include style-form-label;
					margin-right: 5px;
				}
			}
		}
	}

	&.FormEntryBean_editor {
		.editor_content {
			> div {
				margin: 5px 0;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}
		}
	}

	&.Audio_editor,
	&.Video_editor {

		.media_files {
			.entity_actions {
				.btn {
					margin-left: 2px;
				}
			}
		}

		.prop {
			&.width,
			&.height {
				@include textLikeInputs {
					width: 70px;
				}
			}
		}

		.ctb {
			label {
				&.tbl {
					display: inline;
				}
			}
		}
	}

	&.ConditionalRedirect_editor {
		.redirect_listing {
			.heading {
				margin-right: 5px;
			}

			.miwt-table {
				margin: 10px 0;

				.last-column {
					width: 1px;
					white-space: nowrap;
				}


				.btn {
					@include buttonGlyphOnly($html-entity-nbsp);

					//fixme get classes added to this
					&:nth-child(1) {
						@include buttonStyleEditGlyph();
					}
					&:nth-child(2) {
						//fixme get this changed to delete, remove isnt right action?
						@include buttonStyleDeleteGlyph();
					}
					&.action-top {
						@include buttonGlyphOverride($html-entity-move-top);
					}
					&.action-up {
						@include buttonGlyphOverride($html-entity-move-up);
					}
					&.action-down {
						@include buttonGlyphOverride($html-entity-move-down);
					}
					&.action-bottom {
						@include buttonGlyphOverride($html-entity-move-bottom);
					}
				}
			}
		}

		.redirect_editor {
			.link,
			.condition {
				margin: 10px 0;

				label {
					@include style-form-label;
					margin-right: 5px;
				}
			}

			.entity_label {
				margin-right: 5px;
			}
		}
	}

	&.PhotoAlbumViewer_editor {
		.pav_editor {
			label {
				@include style-form-label;
				margin-right: 5px;
			}

			> div {
				margin: 5px 0;
			}

			.dimension {
				@include textLikeInputs {
					width: 70px;
				}

				.dim_sep {
					margin: 0 5px;
				}
			}

			.rtb {
				margin-right: 10px;
			}
		}
	}

	&.LocaleSelector_editor {
		.editor_content {
			label {
				@include style-form-label;
				margin-right: 5px;
			}

			> div {
				margin: 5px 0;
			}
		}
	}

	&.ArticleView_editor {

		.av_article_properties {
			border: 0 none;

			.last-column  {
				width: 1px;
				white-space: nowrap;
			}

			.sorting_buttons {
				.btn {
					@include buttonGlyphOnly($html-entity-nbsp);

					&.action-top {
						@include buttonGlyphOverride($html-entity-move-top);
					}
					&.action-up {
						@include buttonGlyphOverride($html-entity-move-up);
					}
					&.action-down {
						@include buttonGlyphOverride($html-entity-move-down);
					}
					&.action-bottom {
						@include buttonGlyphOverride($html-entity-move-bottom);
					}
				}
			}
		}
	}

	&.FileServer_editor {
		.prop {
			margin: 5px 0;
		}

		label {
			@include style-form-label;
			margin-right: 5px;
		}

		.instructions {
			@include style-message-info();
		}

		.filename {
			margin-right: 5px;
		}
	}

	&.ArticleContainer_editor {
		//fixme html needs many updates, all table based
		label {
			@include style-form-label;
			margin-right: 5px;
		}

		.last-column  {
			width: 1px;
			white-space: nowrap;
		}

		.sorting_buttons {
			.btn {
				@include buttonGlyphOnly($html-entity-nbsp);

				&.action-top {
					@include buttonGlyphOverride($html-entity-move-top);
				}
				&.action-up {
					@include buttonGlyphOverride($html-entity-move-up);
				}
				&.action-down {
					@include buttonGlyphOverride($html-entity-move-down);
				}
				&.action-bottom {
					@include buttonGlyphOverride($html-entity-move-bottom);
				}
			}
		}
	}
}