@import "../../Config/base-import";

/*
	Component partial -	Component editor
*/

//FIXME file bug report to separate attached NDE styles from editor UI so we can remove the .miwt wrapper
.miwt-form {

	div.editor {
		padding: 0;
	}

	.editor {
		.common_view {
			background-color: $color-cloud-grey;
			border: 1px solid $color-lighter-grey;
			border-bottom-color: $color-lighter-grey;
			padding: 10px;
			margin: 0;

			label {
				@include style-form-label;
				margin-right: 5px;
			}

			.workflow_state {
				margin-left: 10px;

				.separator {
					margin-right: 5px;
				}
			}
		}

		.editor_actions {
			span.help-point {
				margin-right: 5px;
				font-size: 12px;
				width: auto;
				height: auto;

				&.disabled {
					display: none;
				}

				a {
					padding: 5px 8px;
					display: block;
					font-family: $font-open-sans-semi-bold;
				}
			}

			.btn {
				&.action_save,
				&.action_save_exit {
					@include buttonGlyphAdd($html-entity-success);
				}
				&.action_cancel {
					@include buttonGlyphAdd($html-entity-cancel);
				}
			}
		}

		.menu_pe_options {
			@include resetMenu;
			margin-top: 10px;

			.mi {
				display: inline-block;
			}

			.mi-active {
				a {
					@include box-shadow(0 0 2px transparentize($color-black, 0.7) inset);
					color: $color-black;
					border-color: $color-darker-grey;
					background-color: $color-grey;

					&:hover {
						background-color: $color-grey;
					}
				}
			}


			a {
				text-decoration: none;
				display: inline-block;
				padding: 3px 6px;
				font-size: 11px;
				color: $color-charcoal;
				background: $color-cloud-grey;
				border: 1px solid $color-grey;

				&:hover {
					@include box-shadow(0 -1px 2px transparentize($color-black, 0.8) inset);
					color: $color-black;
					background: $color-lighter-grey;
					border-color: $color-darker-grey;
				}
			}
		}

		.pe_option_view {
			margin: -1px -10px -10px;
			padding: 10px;
			background-color: $color-smokey-white;
			border-top: 1px solid $color-light-grey;

			.css {
				.prop {
					margin-right: 10px;
				}
			}

			.breadcrumb {
				@include resetMenu;

				li {
					&.be {
						display: inline-block;
						margin: 2px 4px;
					}
					&:after {
						content: $html-entity-rarr;
						padding-left: 8px;
					}
					&.last:after {
						content: "";
						padding-left: 0;
					}
				}

				a {
					text-decoration:none;
				}
				.last span {
					font-family: $font-open-sans-bold;
				}
			}
			/* Visibility Conditions */
			div.visibility_builtin {
				position: relative;

				div.vc_editor {
					padding: 15px 0;
				}
				div.configuration_description {
					clear: both;
					padding-top: 10px;
					margin-top: 10px;
					border-top: 1px solid $color-light-grey;

					> h3 {
						margin: 0 0 5px;
					}
				}
				.standard_props span.prop {
					display: block;
					margin: 5px 0;
				}

				.btn {
					&.edit {
						@include buttonStyleEditGlyph();
					}
					//fixme fix class name
					&.remove {
						@include buttonStyleDeleteGlyph();
					}
				}
			}
			.pg_condition_editor {
				select.labels,
				select.principal_groups {
					max-width: 35%;
				}
			}
			.logic_editor div.add > a.menu_item {
				@include buttonBase;
				@include buttonGlyphAdd($html-entity-add);
			}
			.lc_editor-con span.close_button {
				display: inline-block;
				margin-bottom: 15px;
				padding-left: 5px;
			}
		}

		.editor_tabs {
			padding: 0 15px;
			margin: 15px 0;
		}

		div.content_history {
			padding: 10px;
			margin: 0;
			border: 1px solid $color-cloud-grey;
			border-top: 0 none;
			background-color: $color-white;

			.heading {
				margin-right: 10px;
			}

			.instructions {
				max-width: none;
				margin-left: 0;
				display: block;
			}
		}

		a.load_history_action {
			margin: 5px 0 0;
			border: 0 none;
			max-width: 550px;
			display: block;
			padding: 5px;

			&:hover {
				border: 0 none;
				background-color: $color-cornsilk;
			}
		}

		table.content_history {
			margin-top: 5px;
			border: 1px solid $color-lighter-grey;
		}

		.current_version {
			font-weight: normal;
			font-family: $font-open-sans-bold;
		}
	}
}

.editor_content {
	background-color: $color-white;
	border: 1px solid $color-lighter-grey;
	border-top: 0 none;
	padding: 15px;

	.prop {
		+ .prop {
			margin-top: 5px;
		}

		label {
			font-family: $font-open-sans-semi-bold;
			margin-right: 5px;

			&.tbl {
				display: block;
				margin-right: 0;
				margin-bottom: 5px;
			}
		}

		.ctb {
			label {
				display: inline;
				margin-right: 5px;
				margin-bottom: 0;
			}
		}

		@include textLikeInputs {
			width: 300px;
		}
	}

	.instructions {
		@include style-message-warning;
		margin: 10px 0;

		&:last-child {
			margin-bottom: 0;
		}
		&:first-child {
			margin-top: 0;
		}
	}
}

.editor {
	&.MenuBean_editor {
		table.menu_editor {
			width: 100%;
		}

		.sorting {
			margin-left: 10px;
			.btn {
				@include buttonGlyphOnly($html-entity-nbsp);
			}
		}

		.action-column {
			.btn {
				&.action_addchild,
				&.action_addsibling {
					@include buttonStyleSmall;
					@include buttonGlyphAdd($html-entity-add);
				}
				&.edit {
					@include buttonStyleEditGlyph();
					margin-left: 10px;
				}
				&.remove {
					@include buttonStyleRemoveGlyph();
				}
				&.action-top {
					@include buttonGlyphOverride($html-entity-move-top);
				}
				&.action-up {
					@include buttonGlyphOverride($html-entity-move-up);
				}
				&.action-down {
					@include buttonGlyphOverride($html-entity-move-down);
				}
				&.action-bottom {
					@include buttonGlyphOverride($html-entity-move-bottom);
				}

			}
		}
	}

	&.library_editor {
		.miwt-form & {
			@include style-inline-box();
		}

		.editor_header {
			.btn {
				margin-left: 5px;
			}
		}

		.editor_title {
			@include style-h2;
			display: inline-block;
			margin-bottom: 15px;
		}

		.editor_footer {
			margin-top: 10px;
		}

		.file_editor {
			> .title {
				@include style-h3;
				display: block;
				margin: 15px 0 5px;
			}

			> .help-point.disabled {
				display: none;
			}
		}

		div.prop {
			margin: 5px 0;
		}

		.prop {

			&.description {
				margin-lefT: 10px;
			}

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}

		.btn {
			//fixme add classes to buttons
			&.test_button {
				@include buttonGlyphAdd($html-entity-play);
				margin-left: 2px;
			}
		}

		.file.field {
			.actions {
				margin-left: 5px;
			}
		}

		.file_editor_controls {
			margin: 10px 0;
			text-align: center;

			.btn {
				&.action_save {
					@include buttonGlyphAdd($html-entity-success);
					margin-left: 10px;
				}
			}
		}

		.version_table {
			.title {
				@include style-h3;
				display: block;
				margin-top: 15px;
			}
		}

		.selected_sites {
			caption {
				@include style-h3;
				text-align: left;
				margin-bottom: 5px;
			}

		}

		.pager-selected_sites + .instructions {
			@include style-message-warning;
		}
	}
}