@import "../../Config/base-import";

//fixme update UIs to not use this
.desktop_component {

	.desktop_navigation_buttons {
		a {
			display: inline-block;
			vertical-align: bottom;
			border: 1px solid $color-lighter-grey;
			margin-right: 5px;
			margin-bottom: -1px;
			font-family: $font-open-sans-semi-bold;
			background-color: $color-smokey-white;
			color: $color-blue;
			text-decoration: none;
			padding: 5px 10px;

			&.desktop_navigation_button_active {
				border-bottom-color: $color-white;
				color: $color-dark-bluegrey;
				background-color: $color-white;
			}

			&:hover {
				color: $color-white;
				background-color: $color-blue;
			}
		}
	}

	.desktop_navigation_button {
		@include buttonGlyphAdd($html-entity-nbsp);
		@include buttonStyleSmall;
		margin-bottom: 3px;

		&.desktop_navigation_visible {
			@include buttonGlyphOverride($html-entity-branch-close);
		}
		&.desktop_navigation_hidden {
			@include buttonGlyphOverride($html-entity-branch-open);
		}
	}

	.desktop_navigation_search {
		@include style-inline-box();
	}

	.search_results {
		.btn {
			&.view {
				@include buttonGlyphOnly($html-entity-view);
			}
			&.copy {
				@include buttonGlyphOnly($html-entity-copy);
			}
		}
	}

	.desktop_breadcrumbs {
		margin: 15px 0;

		.desktop_breadcrumb {
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			margin-top: 1px;
			margin-bottom: 2px;
			background-color: $color-almost-white;
			border: 1px solid $color-cloud-grey;
			font-family: $font-open-sans-semi-bold;
			padding: 5px;

			&.desktop_breadcrumb_active {
				border-color: $color-grey;
				background-color: $color-white;
			}

			.btn {
				&.close_button {
					@include buttonStyleCloseGlyph();
					margin-right: 5px;
				}
			}


			a.breadcrumb_node_button {
				text-decoration: none;
				color: $color-blue;
				font-size: 12px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	//fixme make this not a fieldset
	.desktop {
		border: 0 none;
		margin: 0;
		padding: 0;
	}
}