@import "../../Config/base-import";

/*
	Component partial -	Drag and Drop Base
*/

.dnd-source td,
div.dnd-source {
	cursor: move;
}

/*
.dnd-target-active td,
div.dnd-target-active {
	font-family: $font-open-sans-bold;
}
*/

tr.dnd-source,
tr.dnd-target {
	td.first-column,
	td.first {
		padding: 0 10px 3px 15px;
		background-repeat: no-repeat;
	}
}

tr.dnd-source:hover {
	td.first-column,
	td.first {
		background-image: url(/_resources/all/docroot/cms/icons/x16/drag_handle.gif);
		background-position: center left;
	}
}

tr.dnd-target {
	&.dnd-target-active-above {
		td.first-column,
		td.first {
			background-image: url(/_resources/all/docroot/cms/icons/x16/arrow_top2.png);
			background-position: top left;
		}
	}

	&.dnd-target-active-upon {
		td.first {
			background-image: url(/_resources/all/docroot/cms/icons/x16/arrow_child2.png);
			background-position: center left;
		}
	}

	&.dnd-target-active-below {
		td.first-column,
		td.first {
			background-image: url(/_resources/all/docroot/cms/icons/x16/arrow_bottom2.png);
			background-position: bottom left;
		}
	}
}