@import "../../Config/base-import";

.email_template_editor {
	//fixme there is an inline style that is included that is bad
	// <style scoped="scoped">.prompt-close .actions, .discard-changes-prompt{text-align:center; line-height:2;}</style>

	.prop-header-title {
		h1 {
			@include style-h2;
			margin: 0 0 10px;
		}
	}

	.prop-header-actions {
		float: right;
		margin-bottom: 5px;
	}

	.persistence-actions {
		.btn {
			&.save {
				@include buttonGlyphAdd($html-entity-success);
				margin-left: 15px;
			}
			&.cancel {
				@include buttonGlyphAdd($html-entity-cancel);
			}
			&.send_test_email {
				@include buttonGlyphAdd($html-entity-mail);
			}
		}
	}

	fieldset {
		border: 0 none;
		padding: 0;
		margin: 10px 0;

		+ fieldset {
			padding-left: 20px;
		}

		.prop {
			+ .prop {
				margin-top: 5px;
			}

			label {
				@include style-form-label;
				display: block;
				margin-bottom: 2px;
			}

			input {
				width: 100%;
			}
		}
	}

	.name + .message {
		padding-left: 0;
	}

	.name {
		.prop {
			display: inline-block;
			vertical-align: top;
			width: 50%;

			+ .prop {
				margin-top: 0;
				padding-left: 20px;
			}

			&.programmatic_name {
				span.val {
					@include style-form-input-readonly;
					margin-right: 5px;
				}
			}
		}
	}

	.addresses {
		fieldset {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}
	}

	.message {
		> .tal {
			@include style-form-label;
			display: block;
			margin-top: 20px;
		}
	}

	.plaintext {
		margin: 10px 0;
	}

	.attachments {
		//fixme add class
		> .btn {
			@include buttonGlyphAdd($html-entity-attachment);
			float: right;
			margin-bottom: 5px;
		}

		.btn {
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
		}
	}

	.prop-footer-actions {
		margin-top: 10px;
	}

	.email_advanced {
		.prop {
			+ .prop {
				margin-top: 10px;
			}

			label {
				@include style-form-label;
				margin-right: 5px;
			}
		}

		.switch_to_advanced_editor {
			margin-top: 10px;
		}
	}
}

.email_testing {
	h1 {
		@include style-h2;
		margin: 0;
	}
	h2 {
		@include style-h3;
		margin: 0 0 10px;
	}

	.test_actions {
		.btn {
			&.send {
				@include buttonGlyphAdd($html-entity-mail);
			}
		}
	}
}