@import "../../Config/base-import";

.file_editor {
	> .help-point.disabled {
		display: none;
	}

	.file_editor_title {
		@include style-h2;
		display: block;
		margin-right: 5px;
	}

	.file_editor_controls {
		text-align: center;
		margin: 10px 0;

		.btn {

			&.action_save,
			&.action_save_exit {
				@include buttonGlyphAdd($html-entity-success);
			}
			&.action_save {
				margin-left: 5px;
			}
			&.action_exit {
				@include buttonGlyphAdd($html-entity-cancel);
			}
		}
	}

	.version_table {
		.version_title {
			@include style-h3;
			display: block;
			margin: 15px 0 5px;
		}
	}
}
