@import "../../Config/_base-import";

/*
	Partial -	Messages
*/

.message-container {
	margin: 10px 0;

	&.empty {
		display: none;
	}
}

.message {
  @include style-message-info;

	& + & {
		margin-top: 5px;
	}

	&.error {
		@include style-message-error;
	}

	&.success {
		@include style-message-success;
	}

	&.warning {
		@include style-message-warning;
	}
}
