@import "../../Config/_base-import";

/*
	Partial -	Messages
*/


.message-container {
	margin: 10px 0;

	&.empty {
		display: none;
	}
}

.message {
	@include style-message($color-info-light, $color-info-dark, $color-info-dark);

	& + & {
		margin-top: 5px;
	}

	&.error {
		@include style-message($color-error-light, $color-error-dark, $color-error-dark);
	}

	&.success {
		@include style-message($color-success-light, $color-success-dark, $color-success-dark);
	}

	&.warning {
		@include style-message($color-warning-light, $color-warning-dark, $color-warning-dark);
	}
}
