@import "../../Config/base-import";

/*
	Component partial -	MIWT Table
*/

.miwt-table {
	border: 1px solid $color-cloud-grey;
	width: 100%;

	> thead > tr {
		> th {
			background-color: $color-cloud-grey;
			font-family: $font-open-sans-bold;
			font-size: 14px;
			padding: 8px 8px;
			text-align: left;

			//TODO underscore fix for HTML generation
			&.action_column,
			&.action-column {
				white-space: nowrap;
				width: 1%;
			}

			a {
				color: $color-charcoal;
				@include anchorUnderlineHover;
			}
		}
	}

	> tbody > tr {
		> td {
			background-color: $color-white;
			padding: 5px 8px;
			@include transition(background-color 200ms);

			//TODO underscore fix for HTML generation
			&.action_column,
			&.action-column {
				white-space: nowrap;
				width: 1%;
			}
		}

		&.odd {
			> td {
				background-color: $color-almost-white;
			}
		}

		&.no_data {
			> td {
				background-color: $color-almost-white;
				color: $color-grey;
				font-style: italic;
			}
		}

		&:hover {
			> td {
				background-color: $color-cornsilk;
			}
		}

	}
}