@import "../../Config/base-import";

/*
	Component partial -	MIWT Table
*/

.miwt-table {
	border: 1px solid $color-cloud-grey;
	width: 100%;

	> thead > tr {
		> th {
			background-color: $color-cloud-grey;
			font-family: $font-open-sans-semi-bold;
			font-size: 16px;
			padding: 8px 8px;
			text-align: left;

			a {
				color: $color-charcoal;
				@include anchorUnderlineHover;
			}
		}
	}

	> tbody > tr {
		> td {
			background-color: $color-white;
			padding: 5px 8px;
			@include transition(background-color 200ms);
		}

		&.odd {
			> td {
				background-color: $color-almost-white;
			}
		}

		&:hover {
			> td {
				background-color: $color-cornsilk;
			}
		}

	}
}