@import "../../Config/base-import";

/*
	Component partial -	Tables and trees
*/
.miwt-table {
	@include style-table;

	> thead > tr {
		> th {
			@include style-table-heading;
		}
	}

	> tbody > tr {
		@include style-table-data-row;
	}
}

/* MIWT Trees. */

.miwt-tree {
	.parent-sibling-following,
	.last-sibling,
	.sibling-following {
		img.tpi {
			width: 14px;
		}
	}

	td.parent-sibling-following,
	td.sibling-following {
		background: transparent url(/_resources/all/docroot/cms/icons/tree/vline.gif) no-repeat 50% 0%;
		border: 0 none;
		padding: 0;
	}

	.last-sibling,
	td.sibling-following {
		width: 16px;
	}

	td.parent-last-sibling {
		border: 0 none;
		background: transparent;
		padding: 0;
	}

	td.sibling-following.leaf {
		background: transparent url(/_resources/all/docroot/cms/icons/tree/tn.gif) no-repeat 50% 0%;
		border: 0 none;
		padding: 0;
	}

	td.last-sibling {
		background: transparent url(/_resources/all/docroot/cms/icons/tree/ln.gif) no-repeat 50% 0%;
		border: 0 none;
		padding: 0;
	}

	div.column-visibility {
		padding-left: 0;
	}
}