@import "../../Config/base-import";

.row_editor {

	> .heading {
		@include style-h2;
	}

	.table_row {
		display: table;
		width: 100%;

		.column {
			display: table-row;

			.cell {
				display: table-cell;
				vertical-align: top;
				text-align: left;
				padding: 10px;

				> .field {
					&.file {
						.actions {
							margin-left: 5px;
						}
					}
				}
			}

			> .label {
				min-width: 150px;
				padding-top: 15px;

				label {
					@include style-form-label;
				}
			}

			> .val {
				> input[type=text] {
					width: 250px;
				}
			}
		}
	}

	.check_box_editor {
		.ctb {
			display: inline-block;
			vertical-align: top;
			width: 200px;
			margin: 0 0 5px;

			label {
				display: inline-block;
				vertical-align: top;
				width: 170px;
				margin-top: 3px;
			}
		}

	}

	> .persistence-actions {
		margin-top: 15px;

		.btn {
			&.save {
				@include buttonGlyphAdd($html-entity-success);
			}
			&.cancel {
				@include buttonGlyphAdd($html-entity-cancel);
			}
		}
	}
}

.default_single_ref {
	> .content {
		> .table_row {
			border-collapse: collapse;
			border: 1px solid $color-light-grey;

			> .column {
				> .label {
					width: 15%;
					background-color: $color-almost-white;
				}

				> .cell {
					border: 1px dotted $color-grey;
				}
			}
		}

		> .entity_actions {
			float: none;
			padding: 10px;
			border: 1px solid $color-light-grey;
			border-bottom: none;
			background: $color-almost-white;
			text-align: right;
		}
	}
}

.no_selected_ref,
.expression_single_ref {
	> .content {
		padding: 10px;
		border: 1px solid $color-light-grey;
		clear: both;
		background: $color-almost-white;
		display: table;
		width: 100%;

		> .table_row {
			display: table-row;

			> .row_expression,
			> .entity_actions {
				display: table-cell;
			}

			> .entity_actions {
				width: 1%;
				white-space: nowrap;
			}
		}
	}
}

.no_selected_ref {
	> .content {
		> .table_row {
			> .no_selection_text {
				font-family: $font-open-sans-italic;
			}
		}
	}
}

.row_reference h2 {
	margin: 0 0 10px;
}