@import "../../Config/base-import";

.help-point.form-mgt-data {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}

.form_data_management {
	> .selector {
		margin: 10px 0;

		label {
			@include style-form-label;
			margin-right: 5px;
		}

		select {
			max-width: 300px;
		}
	}

	.layout_group.entity_actions {
		margin-left: 10px;

		.btn {
			&.add {
				@include buttonGlyphAdd($html-entity-add);
			}
			&.csv_button {
				@include buttonGlyphAdd($html-entity-download);
			}
		}
	}

	.search {
		span.result_limit {
			margin-left: 5px;

			label {
				margin-right: 5px;
			}
		}
	}

	.search_results {
		.action-column {
			.btn {
				&.details {
					@include buttonGlyphOnly($html-entity-view);
				}
			}
		}
	}

	.form_data_detail_con {
		margin-top: 10px;

		.navigation_actions {
			float: right;
			margin-bottom: 5px;
		}

		.view_actions {
			margin-bottom: 10px;

			.btn {
				&.edit {
					@include buttonGlyphAdd($html-entity-edit);
				}
				&.copy {
					@include buttonGlyphAdd($html-entity-copy);
				}
				&.delete {
					@include buttonGlyphAdd($html-entity-delete);
				}
			}
		}
	}

	//fix the html in this area
	.form_data_detail {
		> .name,
		> .form_process_id,
		> .create_user,
		> .create_time,
		> .form_revision_time {
			margin: 5px 0;

			label {
				@include style-form-label;
				display: inline-block;
				width: 170px;
			}
		}

		> .ctb {
			display: block;
			margin: 5px 0;
		}

		> .summary {
			margin-top: 10px;
		}
	}
}

.form_entry,
.form_preview,
.form_extras_summary {
	span.label {
		@include style-form-label;
		display: block;
	}

	.question {
		margin: 10px 0;

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.form_field {
		+ .form_field {
			margin-top: 5px;
		}
	}

	.address_field {
		label {
			@include style-form-label;
			margin-right: 5px;
		}

		.part {
			+ .part {
				margin-top: 5px;
			}
		}
	}
}

.form_entry {
	clear: both;
	border: 1px solid $color-cloud-grey;
	padding: 10px;
	margin: 10px 0;
}