@import "../../Config/base-import";

@import "../../Components/Partials/form-editor";

.help-point.form-mgt {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}

.entity_actions {
	.btn {
		&.add {
			@include buttonGlyphAdd($html-entity-add);
		}
	}
}

.search_results {
	.action-column {
		.btn {
			&.edit {
				@include buttonStyleEditGlyph();
			}
			&.details {
				@include buttonGlyphOnly($html-entity-view);
			}
			&.copy {
				@include buttonGlyphOnly($html-entity-copy);
			}
			&.delete {
				@include buttonStyleDeleteGlyph();
			}
		}
	}
}

.form_details {
	margin-top: 15px;

	> .title {
		@include style-h3;
	}

	> .sites {
		@include style-form-label;
		margin-bottom: 10px;
	}

	.view_selector {
		label {
			@include style-form-label;
			margin-right: 5px;
		}
	}

	.form_structure {
		> .preview {
			float: right;
			margin-bottom: 5px;
		}

		.pager-top {
			display: none;
		}
	}
}