@import "../../Config/base-import";

@import "../../Components/Partials/form-editor";

.help-point.form-mgt-data {
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
}

.form_data_management {
	> .selector {
		margin-bottom: 10px;
		float: left;

		label {
			@include style-form-label;
			margin-right: 5px;
		}

		select {
			max-width: 300px;
		}
	}

	.layout_group.entity_actions {
		margin-left: 10px;

		.btn {
			&.add {
				@include buttonGlyphAdd($html-entity-add);
			}
			&.csv_button {
				@include buttonGlyphAdd($html-entity-download);
			}
		}
	}

	.search {
		span.result_limit {
			margin-left: 5px;

			label {
				margin-right: 5px;
			}
		}
	}

	.search_results {
		.action-column {
			.btn {
				&.details {
					@include buttonGlyphOnly($html-entity-view);
				}
			}
		}
	}

	.form_data_detail_con {
		margin-top: 10px;

		.navigation_actions {
			float: right;
			margin-bottom: 5px;
		}
	}

}


.form_entry {
	clear: both;
	border: 1px solid $color-cloud-grey;
	padding: 10px;
	margin: 10px 0;
}