@mixin style-h1 {
	font-family: $font-open-sans;
	font-size: 32px;
	font-weight: normal;
	color: $color-dark-bluegrey;
}

@mixin style-h2 {
	font-family: $font-open-sans-bold;
	font-size: 18px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-h3 {
	font-family: $font-open-sans-bold;
	font-size: 16px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-h4 {
	font-family: $font-open-sans-bold;
	font-size: 14px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-table {
	border: 1px solid $color-cloud-grey;
	width: 100%;

	.column-visibility-selector {
		font-family: $font-open-sans;
		font-size: 14px;
		padding: 10px;
		border: 1px solid $color-grey;
		top: 100%;

		ul {
			@include resetMenu;
		}

		label {
			margin-left: 5px;
		}
	}

	.column-visibility {
		.btn {
			&.trigger {
				background-color: transparent;
				outline: none;
			}
		}
	}
}

@mixin style-table-heading-row {
	&:hover {
		> th,
		> td {
			background-color: $color-cloud-grey;
		}
	}
}

@mixin style-table-heading {
	background-color: $color-cloud-grey;
	font-family: $font-open-sans-semi-bold;
	font-weight: normal;
	font-size: 14px;
	padding: 5px 8px;
	text-align: left;

	//TODO underscore fix for HTML generation
	&.action_column,
	&.action-column {
		white-space: nowrap;
		width: 1px;
	}

	&.control {
		width: 1px;
		white-space: nowrap;

		.column-label {
			display: inline-block;

			+ .column-visibility {
				margin-left: 5px;
			}
		}

		input[type=checkbox] {
			display: block;
		}

		.column-visibility {
			input[type=checkbox] {
				display: inline-block;
			}
		}
	}

	a {
		color: $color-charcoal;
		@include anchorUnderlineHover;
	}
}

@mixin style-table-data-row {
	> td {
		background-color: $color-white;
		padding: 5px 8px;
		transition: background-color 200ms;

		//TODO underscore fix for HTML generation
		&.action_column,
		&.action-column,
		&.actions-con {
			white-space: nowrap;
			width: 1px;

			&.last-column {
				text-align: right;
			}
		}

		&.control {
			width: 1px;
			white-space: nowrap;

			input[type=checkbox] {
				display: block;
			}
		}

		input[type=checkbox] {
			vertical-align: middle;
		}

		a {
			@include anchorUnderlineHover;
		}
	}

	&:nth-child(even) {
		> td {
			background-color: $color-almost-white;
		}
	}

	&.no_data {
		> td {
			background-color: $color-almost-white;
			color: $color-grey;
			font-style: italic;
		}
	}

	&:hover {
		> td {
			background-color: $color-cornsilk;
		}
	}
}

@mixin style-miwt-tree-norows {
	border: 0 none;
	margin-top: 10px;

	tbody {
		> tr.odd,
		> tr.even {
			td {
				background-color: transparent;
			}
		}
	}

	td {
		padding: 0;

		&.last-column {
			border: 0 none;
			padding: 1px 0 0 0;
		}
	}
}

@mixin style-tab-elements {
	.tab-items {
		@include resetMenu;
		margin-bottom: -1px;

		.ti {
			display: inline-block;
			vertical-align: bottom;
			border: 1px solid $color-lighter-grey;
			margin-right: 5px;
			font-family: $font-open-sans-semi-bold;

			a {
				background-color: $color-smokey-white;
				color: $color-blue;
				text-decoration: none;
				display: block;
				padding: 5px 10px;
			}

			&.tab-selected {
				border-bottom-color: $color-white;

				a {
					color: $color-dark-bluegrey;
					background-color: $color-white;
				}
			}

			&:hover {
				a {
					color: $color-white;
					background-color: $color-blue;
				}
			}
		}
	}

	.tab-content {
		background-color: $color-white;
		border: 1px solid $color-lighter-grey;
		padding: 15px;
	}
}

@mixin style-form-input-readonly {
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	border: 1px solid $color-grey;
	background-color: $color-cloud-grey;

	&:after {
		content: " ";
		display: inline-block;
	}
}

@mixin style-form-label {
	font-family: $font-open-sans-semi-bold;
}

@mixin style-message($color-bg, $color-border, $color-text, $html-entity-icon: '') {
	position: relative;
	background-color: $color-bg;
	border: 1px solid $color-border;
	color: $color-text;
	padding: 7px;
	padding-left: 30px;
	display: block;
	font-family: $font-open-sans-semi-bold;

	@if ($html-entity-icon != '') {
		&:before {
			@include glyphAdd($html-entity-icon, $size: 18px, $color: $color-text);
			position: absolute;
			left: 7px;
			top: 8px;
		}
	} @else {
		&:before {
			display: none;
		}
	}

	a {
		color: $color-text;
		margin-left: 2px;
		font-family: $font-open-sans-bold;

		&:hover {
			text-decoration: none;
		}
	}
}

@mixin style-message-info($html-entity-icon: $html-entity-info) {
	@include style-message($color-info-light, $color-info-dark, $color-info-dark, $html-entity-icon);
}

@mixin style-message-error($html-entity-icon: $html-entity-error) {
	@include style-message($color-error-light, $color-error-dark, $color-error-dark, $html-entity-icon);
}

@mixin style-message-success($html-entity-icon: $html-entity-success) {
	@include style-message($color-success-light, $color-success-dark, $color-success-dark, $html-entity-icon);
}

@mixin style-message-warning($html-entity-icon: $html-entity-fixme) {
	@include style-message($color-warning-light, $color-warning-dark, $color-warning-dark, $html-entity-icon);
}

@mixin style-popup-box($padding: 10px) {
	padding: $padding;
	background-color: $color-white;
	border: 1px solid $color-cloud-grey;
	box-shadow: 3px 3px 10px transparentize($color-black, 0.55);
}

@mixin style-inline-box($padding: 15px, $bgcolor: $color-white) {
	background-color: $bgcolor;
	border: 1px solid $color-cloud-grey;
	padding: $padding;
}

@mixin loading-circle-spinner() {
	display: block;
	width: 40px;
	height: 40px;
	background: center center transparent themeDesignResourceUrl('/Overall/loading-logo.svg') no-repeat;
}

//move this to @at-root of the loading-circle-spinner-nosmil mixin when issue is fixed in node-sass https://github.com/sass/node-sass/issues/559
@mixin loading-circle-spin-animation() {
	@keyframes loading-circle-spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@mixin loading-circle-spinner-nosmil() {
	display: block;
	width: 40px;
	height: 40px;
	background: center center transparent themeDesignResourceUrl('/Overall/loading-logo.svg') no-repeat;
	animation: loading-circle-spin 1s infinite linear;
}