@mixin style-h1 {
	font-family: $font-open-sans;
	font-size: 32px;
	font-weight: normal;
	color: $color-dark-bluegrey;
}

@mixin style-h2 {
	font-family: $font-open-sans-bold;
	font-size: 18px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-h3 {
	font-family: $font-open-sans-bold;
	font-size: 16px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-h4 {
	font-family: $font-open-sans-bold;
	font-size: 14px;
	font-weight: normal;
	color: $color-default-site-font;
}

@mixin style-table {
	border: 1px solid $color-cloud-grey;
	width: 100%;

	.column-visibility-selector {
		font-family: $font-open-sans;
		font-size: 14px;
		padding: 10px;
		border: 1px solid $color-grey;
		top: 100%;

		ul {
			@include resetMenu;
		}

		label {
			margin-left: 5px;
		}
	}
}

@mixin style-table-heading-row {
	&:hover {
		> th,
		> td {
			background-color: $color-cloud-grey;
		}
	}
}

@mixin style-table-heading {
	background-color: $color-cloud-grey;
	font-family: $font-open-sans-semi-bold;
	font-weight: normal;
	font-size: 14px;
	padding: 5px 8px;
	text-align: left;

	//TODO underscore fix for HTML generation
	&.action_column,
	&.action-column {
		white-space: nowrap;
		width: 1%;
	}

	&.control {
		width: 1%;
		white-space: nowrap;

		.column-label {
			display: inline-block;

			+ .column-visibility {
				margin-left: 5px;
			}
		}

		input[type=checkbox] {
			display: block;
		}

		.column-visibility {
			input[type=checkbox] {
				display: inline-block;
			}
		}
	}

	a {
		color: $color-charcoal;
		@include anchorUnderlineHover;
	}
}

@mixin style-table-data-row {
	> td {
		background-color: $color-white;
		padding: 5px 8px;
		@include transition(background-color 200ms);

		//TODO underscore fix for HTML generation
		&.action_column,
		&.action-column,
		&.actions-con {
			white-space: nowrap;
			width: 1%;

			&.last-column {
				text-align: right;
			}
		}

		&.control {
			width: 1%;
			white-space: nowrap;

			input[type=checkbox] {
				display: block;
			}
		}

		input[type=checkbox] {
			vertical-align: middle;
		}

		a {
			@include anchorUnderlineHover;
		}
	}

	&:nth-child(even) {
		> td {
			background-color: $color-almost-white;
		}
	}

	&.no_data {
		> td {
			background-color: $color-almost-white;
			color: $color-grey;
			font-style: italic;
		}
	}

	&:hover {
		> td {
			background-color: $color-cornsilk;
		}
	}
}

@mixin style-miwt-tree-norows {
	border: 0 none;
	margin-top: 10px;

	tbody {
		> tr.odd,
		> tr.even {
			td {
				background-color: transparent;
			}
		}
	}

	td {
		padding: 0;

		&.last-column {
			border: 0 none;
			padding: 1px 0 0 0;
		}
	}
}

@mixin style-form-input-readonly {
	display: inline-block;
	vertical-align: middle;
	padding: 3px;
	border: 1px solid $color-grey;
	background-color: $color-cloud-grey;

	&:after {
		content: " ";
		display: inline-block;
	}
}

@mixin style-form-label {
	font-family: $font-open-sans-semi-bold;
}

@mixin style-message($color-bg, $color-border, $color-text) {
	background-color: $color-bg;
	border: 1px solid $color-border;
	color: $color-text;
	padding: 5px;
	display: block;
	font-family: $font-open-sans-semi-bold;

	a {
		color: $color-text;
	}
}

@mixin style-message-info() {
	@include style-message($color-info-light, $color-info-dark, $color-info-dark);
}

@mixin style-message-error() {
	@include style-message($color-error-light, $color-error-dark, $color-error-dark);
}

@mixin style-message-success() {
	@include style-message($color-success-light, $color-success-dark, $color-success-dark);
}

@mixin style-message-warning() {
	@include style-message($color-warning-light, $color-warning-dark, $color-warning-dark);
}

@mixin style-popup-box($padding: 10px) {
	padding: $padding;
	background-color: $color-white;
	border: 1px solid $color-cloud-grey;
	@include box-shadow(3px 3px 10px transparentize($color-black, 0.55));
}

@mixin style-inline-box($padding: 15px) {
	background-color: $color-white;
	border: 1px solid $color-cloud-grey;
	padding: $padding;
}