@import "../../Config/_base-import";


#request_stats {
	table.search_results {
		border:1px $color-grey solid;
		border-top: 0 none;
		border-bottom: 0 none;
		width: 100%;
		color: $color-black;
	}

	th {
		background-color: $color-dark-blue;
		color: $color-white;
		font-weight: normal;
		font-family: $font-open-sans-bold;
	}

	td {
		padding: 2px;
	}
}
.search_results tr td {
	background-color:inherit;
	padding-left: 4px;
	padding-right: 4px;
}
tr.very_fast{
	background-color: $color-white;
}
tr.fast{
	background-color: $color-green;
}
tr.good{
	background-color: $color-dark-green;
}
tr.slow{
	background-color: $color-gold;
}
tr.very_slow{
	background-color: $color-error-dark;

	a {
		color: #fff;
	}
}
td.partial {
	font-family: monospace;
}

h3 {
	margin: 0;
}
.legend {
	@include resetMenu;
	margin-bottom: 10px;

	.legend-color {
		display: inline-block;
		vertical-align: top;
		margin-right: 10px;

		&:before {
			display: inline-block;
			content: " ";
			width: 20px;
			height: 20px;
			margin-right: 5px;
			border: 1px solid $color-charcoal;
		}

		&.very-fast:before {
			background-color: $color-white;
		}
		&.fast:before {
			background-color: $color-green;
		}
		&.good:before {
			background-color: $color-dark-green;
		}
		&.slow:before {
			background-color: $color-gold;
		}
		&.very-slow:before {
			background-color: $color-error-dark;
		}
	}
}